@import './__item/dropdown__item.scss';
@import '../button/button.scss';

.dropdown{
    width: 320px;
    user-select: none;

    &_size-s{
        width: 150px;
    }

    &_size-m{
        width: 266px;
    }
    
    &__title{
        height: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        margin-bottom: 5px;
    }

    &__field{
        height: 44px;
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;

        transition: border-radius 200ms;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-indent: 15px;        
        
        position: relative;
    }

    &__text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__arrow{
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__container{
        position: relative;
    }

    &__menu{
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-radius: 0 0 4px 4px;
        border-top: none;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);        
        background: #FFFFFF;  

        opacity: 0;
        pointer-events: none;
        transform: translateY(-5px);
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

        position: absolute;
        left: 0;
        top: 44px;        
        z-index: 289;      
        
        user-select: none;
    }

    &__menu-container{               
        margin-top: 6px;
        margin-left: 15px;
        margin-right: 7px;
        margin-bottom: 8px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;        
        gap: 6px;

        .dropdown__item{
            flex: 1 0 100%;
        }
    }
 
    &__buttons-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 7px 13px 14px;
    } 
}

.dropdown_active > .dropdown__container > .dropdown__menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown_active > .dropdown__container > .dropdown__field{
    border-radius: 4px 4px 0px 0px; 
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown:hover{
    .dropdown__field{
        border: 1px solid rgba(31, 32, 65, 0.5);
        cursor: pointer;
    }
}
