.dropdown {
  max-width: 320px;
  user-select: none;
  font-size: 14px;
  line-height: 18px;
  color: $gray-color;

  &_size_s {
    width: 150px;
  }

  &_size_m {
    width: 266px;
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__container {
    position: relative;
  }

  &__field {
    height: 44px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $gray-color-25;
    transition: border-radius 200ms;
    color: $gray-color-75;
    text-indent: 14px;
    font: inherit;
    padding-bottom: 2px;
    outline-style: none;
    background: none;
    cursor: pointer;

    &::selection {
      color: $gray-color-75;
    }

    &:focus {
      border-color: $gray-color-50;
    }
  }

  &__arrow {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-color-50;

    &::after {
      font: 24px 'Material Icons';
      content: 'expand_more';
    }
  }

  &__menu {
    width: 100%;
    border: 1px solid $gray-color-50;
    border-radius: 0 0 4px 4px;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0 10px 20px $gray-color-5;
    background: $white-color;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 5;
  }

  &__menu-container {
    margin: 3px 6px 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 7px 10px 14px;
  }

  &__button_hidden {
    visibility: hidden;
  }

  &_active &__menu,
  &_always-open &__menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &_active &__field,
  &_always-open &__field {
    border-radius: 4px 4px 0 0;
    border-color: $gray-color-50;
  }

  &:hover .dropdown__field {
    border-color: $gray-color-50;
  }
}
