.navbar__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__arrow-container{
    display: flex;        
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 24px;
    height: 21px;  
}