@import '../../components/components.scss';

html, body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

body{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    background: #FFFFFF; 
}

.logotype-container{
    padding: 30px 0 0 30px;
}

.content-container{     
    margin-top: 67px; 
    margin-left: 150px;  
    display: grid;
    grid-template-columns: 697px 436px;
    align-items: start;
}

.left-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-column{
    display: grid;    
    grid-template-columns: auto 1fr; 
    column-gap: 30px;

    & > *:nth-child(2){
        margin-bottom: 52px;
    }

    & > *:nth-child(4){
        margin-bottom: 53px;
    }

    & > *:nth-child(6){
        margin-bottom: 47px;
    }

    & p{        
        margin: 0;
    }
}

.item{
    font-family: $primary-font;        
    font-style: normal;
    font-weight: normal;
    color: $gray-color;
    font-size: 14px;
    line-height: 24px;

    &_bold{
        font-weight: bold;
    }

    &_size-x{
        font-size: 24px;
        line-height: 29.26px;
    }

    &_size-l{
        font-size: 19px;
        line-height: 23.16px;
    }

    &_size-m{
        font-size: 12px;
        line-height: 14.63px;
        text-transform: uppercase;
    }

    &:nth-child(2n-1){        
        text-align: right;
        color: $gray-color-25;
    }

    &:last-child{
        color: $gray-color-75;
    }
}