include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/colorstype/colorstype.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="colorstype page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, colorstype")
    title Colors & Type
  body.colorstype
    .colorstype__logotype-container
      +logotype(data.logotype)
    .colorstype__data-container
      .colorstype__left-column
        each item in data.colorItems
          +color-item(item)
      .colorstype__right-column
        .colorstype__item H1
        .colorstype__item This one is the sub-section or widget title
        .colorstype__item H2
        .colorstype__item Next one is the item title inside widgets
        .colorstype__item H3
        .colorstype__item This is a label or CTA text
        .colorstype__item Body
        .colorstype__item This is the body text which is used for most of the design, like paragraphs, lists, etc.