mixin item(params)
  -var item__box_color = (params.color ? `item__box_${params.color}` : "");
  div.item
    div.item__box(class = item__box_color)
    div.item__title
      div.item__firstline=params.firstline
      div.item__secondline=params.secondline

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Colors & Type
    link(rel="stylesheet" type="text/css" href="colorstype.css")
  body
    div.container
      div.logotype-container
        img(src="public/images/uikit-logotype.svg")
      div.content-container
        div.left-column
          +item({color: 'color-darkshade100', firstline: 'Dark Shade 100%', secondline: '#1F2041'})
          +item({color: 'color-darkshade75', firstline: 'Dark Shade 75%', secondline: '#1F2041'})
          +item({color: 'color-darkshade50', firstline: 'Dark Shade 50%', secondline: '#1F2041'})
          +item({color: 'color-darkshade25', firstline: 'Dark Shade 25%', secondline: '#1F2041'})
          +item({color: 'color-darkshade5', firstline: 'Dark Shade 5%', secondline: '#1F2041'})
          +item({color: 'color-purple', firstline: 'Purple', secondline: '#BC9CFF'})
          +item({color: 'color-green', firstline: 'Green', secondline: '#6FCF97'})
        div.right-column
          div(class = 'font font_size-x') H1          
          div(class = 'font font_size-x font_weight-bold') This one is the sub-section or widget title          
          div(class = 'font font_size-l') H2
          div(class = 'font font_size-l font_weight-bold') Next one is the item title inside widgets         
          div(class = 'font font_size-m') H3
          div(class = 'font font_size-m font_weight-bold') This is a label or CTA text          
          div(class = 'font font_size-s') Body
          div(class = 'font font_size-s') This is the body text which is used for most of the design, like paragraphs, lists, etc.