include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/colorstype/colorstype.json'));

doctype html
html
  head
    meta(charset='UTF-8')
    title Colors & Type
  body
    .logotype-container
      +logotype(data.logotype)
    .content-container
      .left-column
        each item in data.colorItems
          +color-item(item)
      .right-column
        .item.item_size-x H1          
        .item.item_size-x.item_bold This one is the sub-section or widget title    
        .item.item_size-l H2
        .item.item_size-l.item_bold Next one is the item title inside widgets
        .item.item_size-m H3
        .item.item_size-m.item_bold This is a label or CTA text
        .item Body
        .item
          p This is the body text which is used for most
          p of the design, like paragraphs, lists, etc.