mixin pagination()
  .pagination
    - const paginationItems = ['1', '2', '3', '...', '15', ''];
    .pagination__container
      each item in paginationItems
        .pagination__item= item
    .pagination__description 1 – 12 из 100+ вариантов аренды
