mixin pagination()
  .pagination
    .pagination__container
      .pagination__item 1
      .pagination__item 2
      .pagination__item 3
      .pagination__item ...
      .pagination__item 15
      .pagination__item
        i.pagination__arrow.material-icons arrow_forward
    .pagination__description 1 – 12 из 100+ вариантов аренды
