.pagination {
  user-select: none;
  font-size: 12px;
  line-height: 12px;
  color: $gray-color-50;

  &__container {
    display: flex;
  }

  &__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;

    &:hover {
      background: $gray-color-10;
    }

    &:first-child {
      background: $primary-gradient;
      font-weight: bold;
      color: $white-color;

      &:hover {
        background: $primary-gradient-75;
      }
    }

    &:last-child {
      background: $secondary-gradient;
      color: $white-color;

      &:hover {
        background: $secondary-gradient-75;
      }
    }

    &:last-child::after {
      font: 24px 'Material Icons';
      content: 'arrow_forward';
    }
  }

  &__description {
    margin-top: 11px;
    padding-left: 5px;
    height: 24px;
    font-size: 14px;
    line-height: 20px;
    color: $gray-color-75;
  }
}
