@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("montserrat-regular.eot") format("eot"),
         url("montserrat-regular.woff") format("woff"),
		 url('montserrat-regular.ttf') format('truetype'),
		 url('montserrat-regular.svg') format('svg');
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url('montserrat-bold.eot') format("eot"),
         url("montserrat-bold.woff") format("woff"),
		 url('montserrat-bold.ttf') format('truetype'),
		 url('montserrat-bold.svg') format('svg');
}