include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/login/login.json'));

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title TOXIN
  body
    header
      +header(data.header)
    main
      .container__login-form
        +login-form(data.loginForm)
    footer
      +footer(data.footer)
