extends ../base-template/base-template

block data
  include ../../components/footer/footer
  include ../../components/header/header
  include ../../components/login-form/login-form
  -
    const path = require('path');
    const fs = require('fs');
    const data = JSON.parse(fs.readFileSync('./src/pages/login/login.json'));
    const title = 'TOXIN';
    const description = 'login page of Toxin Pages project';
    const keywords = 'toxin pages, login';

block content
  .login
    header.login__header
      +header(data.header)
    main.login__main
      .login__login-form-container
        +login-form(data.loginForm)
    footer.login__footer
      +footer(data.footer)