include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/login/login.json'));

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description" content="login page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, login")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body.login
    header.login__header
      +header(data.header)
    main.login__main
      .login__login-form-container
        +login-form(data.loginForm)
    footer.login__footer
      +footer(data.footer)