@import '../../components/components';

html, body{
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}

body{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

main{
    padding-top: 70px;

    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    .container__login-form{
        padding: 70px 0;
        max-width: 380px;
        margin: auto;
    }
}