.rate-button {
  display: flex;
  -webkit-user-select: none;
          user-select: none;

  &__star {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-gradient;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;

    &::after {
      font: 24px 'Material Icons';
      content: attr(data-icon);
    }
  }
}
