include ../like-button/like-button

mixin review(params)
  -
    const {
      name = 'name',
      date = 'date',
      text = 'text',
      numLikes = 10,
      likesEmphasized = false,
      photoUrl = '',
    } = params;

  .review
    .review__left-container
      .review__photo 
        img(src=photoUrl).review__img
      +like-button({emphasized: likesEmphasized, numLikes: numLikes})
    .review__right-container 
      .review__name=name 
      .review__date=date
      .review__text=text

