include ../like-button/like-button

mixin review(params = {})
  -
    const {
      name = 'name',
      date = 'date',
      text = 'text',
      numLikes = 10,
      likeButtonChecked = false,
      photoUrl = '',
    } = params;

  .review
    .review__left-container
      .review__photo
        img.review__img(src=photoUrl, alt="user photo")
      +like-button({checked: likeButtonChecked, numLikes: numLikes})
    .review__right-container
      .review__name=name
      .review__date=date
      .review__text=text