.review{
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $gray-color-75;
  display: flex;
  gap: 9.93px;

  &__name{
    font-weight: bold;
  }

  &__left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__img{
    display: block;
    width: 47.67px;
    height: 48px;
    border: 2px solid $white-color;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 20px $gray-color-10);
    border-radius: 32px;
    object-fit: cover;
  }

  &__text{
    margin-top: 10px;
  }
}