include ../like-button/like-button

mixin review(params)
  -var name = (params.name ? params.name : "No name");
  -var date = (params.date ? params.date : "No date");
  -var text = (params.text ? params.text : "No text");
  -var num_likes = (params.num_likes ? params.num_likes : 10);
  -var likes_emphasized = (params.likes_emphasized ? true: false);
  -var photo_url = (params.photo_url ? params.photo_url : "images/default_photo.png")
  .review
    .review__left-container
      .review__photo 
        img(src=photo_url).review__img
      +like-button({emphasized: likes_emphasized, likes: num_likes})
    .review__right-container 
      .review__name=name 
      .review__date=date
      .review__text=text

