include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/headersfooters/headersfooters.json'));

doctype html
html
  head
    meta(charset='UTF-8')
    title Headers & Footers
  body
    .logotype-container
      +logotype(data.logotype)
    +header(data.header1)
    +header(data.header2)
    +footer(data.footer)
    +footer(data.footer)(class='footer_uikit')
