include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/headersfooters/headersfooters.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="headersfooters page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, headersfooters")
    title Headers & Footers
  body.headersfooters
    .headersfooters__logotype-container
      +logotype(data.logotype)
    .headersfooters__data-container
      .headersfooters__header
        +header(data.header1)
      +header(data.header2)
      +footer(data.footer1)
      .headersfooters__footer
        +footer(data.footer2)
