@import '../../components/components.scss';

html{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

body{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    background: #F4F4F6;    

    & > *{
        margin-bottom: 40px;
    }

    & > :nth-child(2){
        position: relative;
        z-index: 1000;
    }

    & > :nth-child(5){
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.logotype-container{
    padding: 30px 0 22px 30px;   
}