.comfort-item{
  user-select: none;
  font: normal bold 14px/24px $primary-font;
  color: $gray-color-75;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  width: 280px;

  &__icon{
    height: 48px;
    font-size: 48px;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text{
    height: 48px;
  }

  &__description{
    font-weight: normal;
  }

  &_with-underline::after{
    flex-basis: 280px;
    content: '';
    display: block;
    height: 1px;
    margin-top: 20px;
    background: $gray-color-10;
  }
}