.comfort-item {
  -webkit-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
       user-select: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: $gray-color-75;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 280px;

  &__icon {
    background: $primary-gradient;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;

    &::after {
      font: 48px 'Material Icons';
      content: attr(data-icon);
    }
  }

  &__text {
    height: 48px;
  }

  &__description {
    font-weight: normal;
  }

  &_with-underline::after {
    flex-basis: 280px;
    content: '';
    display: block;
    height: 1px;
    margin-top: 20px;
    background: $gray-color-10;
  }
}
