mixin comfort-item(params = {})
  -
    const {
      title = 'title',
      description = 'description',
      icon = 'whatshot',
      underlined = false,
    } = params;

  .comfort-item(class=underlined && 'comfort-item_with-underline')
    .comfort-item__icon(data-icon=icon)
    .comfort-item__text
      .comfort-item__title= title
      .comfort-item__description= description