include ../inpt/inpt
include ../button/button
include ../toggle/toggle
include ../radio-button/radio-button

mixin login-form()
  form.login-form
    .login-form__title Войти    
    .login-form__inputdata-container
      +inpt({placeholder: "Email"})
      +inpt({placeholder: "Пароль"})  
    .login-form__button-container
      +button({title: "войти", size: "l"})
    .login-form__button-container Нет аккаунта на Toxin?
      +button({title: "создать", theme: "white"})