.login-form {
  background: $white-color;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  -webkit-user-select: none;
          user-select: none;
  font-size: 24px;
  line-height: 29px;
  color: $gray-color;
  max-width: 380px;
  padding: 39px 20px 0;

  &__title {
    max-width: 320px;
    margin: auto;
    margin-bottom: 21px;
    font-weight: bold;
  }

  &__inputdata-container {
    max-width: 320px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  &__button-container {
    max-width: 320px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #000;

    &:last-child {
      margin-bottom: 31px;
    }
  }

  &__text {
    padding-bottom: 2px;
  }

  &__signup-button {
    text-decoration: none;
  }
}
