.login-form{
  background: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  user-select: none;
  font: normal normal 24px/29px $primary-font;
  color: $gray-color;
  max-width: 380px;
  padding: 39px 20px 0 20px;

  &__title{
    max-width: 320px;
    margin: auto;
    margin-bottom: 21px;
    font-weight: bold;
  }

  &__inputdata-container{
    max-width: 320px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  &__button-container{
    max-width: 320px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: black;
    &:last-child{
      margin-bottom: 31px;
    }
  }

  &__text{
    padding-bottom: 2px;
  }

  &__signup-button{
    text-decoration: none;
  }
}