include ../text/text

mixin button(text, isLargeButton)
  div.button(class = isLargeButton ? "button_large" : "")
    div.button__container(class = isLargeButton ? "button__container_large" : "")
      div.button__text-containter(class = isLargeButton ? "button__text-container_large" : "")
        +text('text_label', text, 'text_color-white')             
      if(isLargeButton)
        div.button__img-container
          img(src="images/arrow-white.svg") 