@import '../text/text.scss';

.button{
    position: relative;
    width: 99px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-sizing: border-box;
    border: double 2px transparent;
    border-radius: 22px;
    background-origin: border-box;    
    background-clip: content-box, border-box;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    

    color: #FFFFFF;    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;    

    &__text-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 43px;  
    }

    &:hover{
        cursor: pointer;
    }
    
    &_size-l{
        width: 320px;
        height: 44px;
    }

    &_size-m{
        width: 196px;
        height: 34px;
    }

    &_size-s{
        width: 99px;
        height: 44px
    }

    &_theme-no-border{
        border: none;
        background: none;
        color: #BC9CFF;

        width: max-content;
        height: auto;
        
        &:hover{
            color: rgba(31, 32, 65, 0.5);
        }
    }

    &_theme-white{
        background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
        color: #BC9CFF;
    }
    
    &__img-container{        
        position: absolute;
        right: 0;
        top: 0;
        display: flex;        
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 44px;
        height: 43px;                      
    }
}
