@import '../text/text.scss';

.button{
    position: relative;
    width: 99px;
    height: 44px;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    border-radius: 22px; 
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    color: #FFFFFF;    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;    

    &__text-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 43px;  
    }

    &_hide{
        width: 0;
        height: 0;
        opacity: 0;
    }

    &:hover{
        cursor: pointer;
        background-image: linear-gradient(180deg, #BC9CFF7F 0%, #8BA4F97F 100%);  
    }

    &:active{        
        top: 2px;
    }
    
    &_size-l{
        width: 320px;
        height: 44px;
    }

    &_size-m{
        width: 196px;
        height: 34px;
    }

    &_size-s{
        width: 99px;
        height: 44px
    }

    &_size-ss{
        width: 87px;
        height: 34px
    }

    &_theme-no-border{
        border: none;
        background: none;
        color: #BC9CFF;

        width: max-content;
        height: auto;
        
        &:hover{
            color: rgba(31, 32, 65, 0.5);
            background: none;
        }
    }

    &_theme-white{ 
        color: #BC9CFF;
        box-sizing: border-box;
        border: double 2px transparent;
        border-radius: 22px;
        background-origin: border-box;    
        background-clip: content-box, border-box;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);  

        &:hover{
            background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%), linear-gradient(180deg, #BC9CFF7F 0%, #8BA4F97F 100%); 
        }
    }
    
    &__img-container{        
        position: absolute;
        right: 0;
        top: 0;
        display: flex;        
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;                  
    }
}
