include ../../components/button/button
include ../../components/navbar/__item/navbar__item
include ../../components/navbar/navbar
include ../../components/header/header

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
  body
    .container
        +button('Подобрать номер')
        +button('Подобрать номер', true)
        +button('CLICK ME')
        +button('И еще одна', true)
        +navbar__item('Новости', true)
        +navbar()
        +navbar(true)
        +header()
        +header(true)

