include ../../components/header/header
include ../../components/footer/footer
include ../../components/search-form/search-form

doctype html
html 
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title Пример страницы    
  body
    .container
      .container__header
        +header()                 
      .container__background
        .container__content
          .search        
            +search-form()
          .text="Лучшие номера для вашей работы,\n отдыха и просто вдохновения"                                  
      .container__footer      
        +footer()
       
        

