@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';
@import '../../components/search-form/search-form.scss';

html, body{
    margin: 0px;
    padding: 0px;
    background: #E5E5E5;
}

.container{

    &__background{
        height: 830px;
        background-image: url('./images/background.png');
    }

    .text{        
        height: 48px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: rgba(31, 32, 65, 0.75);

        white-space: pre-line;

        display: block;
        margin-left: auto;
        margin-top: 320px;
        padding-right: 140px;
        width: max-content;
    }
    
    &__content{       
        max-width: 1440px; 
        margin: auto;        
    }

    .search{       
        max-width: 380px;
        padding-top: 70px;
        margin: auto;        
        
        @media screen and (min-width: 640px){
            padding-left: 140px;
            margin: 0;
        }
    }
}
