extends ../base-template/base-template

block data
  -
    const path = require('path');
    const fs = require('fs');
    const data = JSON.parse(fs.readFileSync('./src/pages/main/main.json'));
    const title = 'TOXIN';
    const description = 'main page of Toxin Pages project';
    const keywords = 'toxin pages, main';

block content
  .mainpage
    header.mainpage__header
      +header(data.header)
    main.mainpage__main
      .mainpage__search-form-container
        +search-form(data.searchForm)
      .mainpage__text-container
        .mainpage__text
          |Лучшие номера для вашей работы, 
          |отдыха и просто вдохновения
    footer.mainpage__footer
      +footer(data.footer)