include ../../components/button/button
include ../../components/navbar/__item/navbar__item
include ../../components/navbar/navbar
include ../../components/header/header
include ../../components/footer/footer
include ../../components/search-form/search-form

doctype html
html 
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title Пример страницы    
  body
    .container
        //-
          +button('Подобрать номер')
          +button('Подобрать номер', true)
          +button('CLICK ME')
          +button('И еще одна', true)
          +navbar__item('Новости', true)        
          +navbar(false)
          +navbar(true, 'Юлий Цезарь')
          +header(false)
        div.container__item
          +header(true, 'Юлий Цезарь')
        div.container__item
          +search-form()
        div.container__item
          div.container__content
            img(src="images/background.png")            
        div.container__item      
          +footer()
       
        

