@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

//@import '../../components/button/button.scss';
//@import '../../components/navbar/__item/navbar__item.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';
@import '../../components/search-form/search-form.scss';

html, body{
    margin: 0px;
    padding: 0px;
    background: #E5E5E5;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;    
    max-width: 1440px;    
    margin: auto;   

    &__item{
        flex: 1 0 100%;        
    }

    &__content{
        //border: 10px pink solid;
        max-height: 830px;
        max-width: 1440px;
        //display: flex;        
        //align-items: center;
        //justify-content: center;
        
        //position: relative;  
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }                   
    }
}
