include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/main/data.json'));

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body
    header
      +header(data.headerData)
    main
      .container__search-form
        +search-form(data.searchFormData)
      .container__text
        .text= "Лучшие номера для вашей работы, отдыха и просто вдохновения"
    footer
      +footer(data.footerData)
