.mainpage {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__main {
    background-image: url('./images/room-with-gray-sofa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 70px;
    min-height: 830px;
    min-width: 0;
  }

  &__container {
    padding-top: 70px;
    max-width: 1440px;
    margin: auto;
  }

  &__search-form {
    margin-left: 140px;
    max-width: 380px;

    @media screen and (max-width: 660px) {
      margin: auto;
      padding: 0 10px;
    }
  }

  &__text {
    margin: 317px 124px 20px auto;
    max-width: 297px;
    padding: 0 10px;
    line-height: 24px;
    text-align: right;

    @media screen and (max-width: 565px) {
      margin-right: auto;
    }
  }
}
