include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/main/main.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="main page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, main")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body.mainpage
    header.mainpage__header
      +header(data.header)
    main.mainpage__main
      .mainpage__search-form-container
        +search-form(data.searchForm)
      .mainpage__text-container
        .mainpage__text
          |Лучшие номера для вашей работы, 
          |отдыха и просто вдохновения
    footer.mainpage__footer
      +footer(data.footer)