extends ../base-template/base-template

block data
  include ../../components/footer/footer
  include ../../components/header/header
  include ../../components/search-form/search-form
  -
    const title = 'TOXIN';
    const description = 'main page of Toxin Pages project';
    const keywords = 'toxin pages, main';
    const loginButtonLink = 'login.html';
    const signupButtonLink = 'signup.html';
    const logotypeLink= 'main.html';

block content
  .mainpage
    header.mainpage__header
      +header({
        loginButtonLink: loginButtonLink,
        signupButtonLink: signupButtonLink,
        logotypeLink: logotypeLink
      })
    main.mainpage__main
      .mainpage__container
        .mainpage__search-form
          +search-form({
            calendar: {arrivalDate: '', departureDate: ''},
            actionLink: 'search-page.html'
          })
        .mainpage__text
          |Лучшие номера для вашей работы, 
          |отдыха и просто вдохновения
    footer.mainpage__footer
      +footer({logotypeLink: logotypeLink})