include ../../components/text/text
include ../../components/inpt/inpt
include ../../components/date-dropdown/date-dropdown

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Form Elements    
  body
    div.container
      div.logotype-container
        img(src="images/uikit-logotype.svg")
      div.content-container
        div.left-column
         
          +date-dropdown()
          

         

        
