include ../../components/text/text
include ../../components/inpt/inpt
include ../../components/date-dropdown/date-dropdown
include ../../components/checkbox-list/checkbox-list
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/toggle/toggle
include ../../components/rate-button/rate-button

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Form Elements    
  body
    div.container
      div.logotype-container
        img(src="images/uikit-logotype.svg")
      div.content-container
        div.left-column          

          +checkbox-list({title: "checkbox buttons", 
                          items: ["Широкий коридор", "Помощник для инвалидов"], 
                          descriptions: ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист  и проводит до номера."],
                          expandable: true,
                          })

          +range-slider({})
          //
            +date-dropdown()
            +custom-list({title: "expandable checkbox list", items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], expandable: true})
        
        .middle-column
          +checkbox-list({title: "checkbox buttons", items: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"]})
          .title radio buttons
          .title toggle
          +toggle("Получать спецпредложения")
          +toggle("Получать спецпредложения")
          .title like button
          .title rate button
          .rate-buttons-group
            +rate-button(4)
            +rate-button(5)            
        
        .right-column
          +range-slider({title: "range slider"})
          .title buttons
          .buttons-block            
            .buttons-group
              +button({title: "click me", size: "s"})
              +button({title: "click me", size: "s"})              
            .buttons-group
              +button({title: "click me", size: "s", theme: "white"})
              +button({title: "click me", size: "s", theme: "white"})
            .buttons-group
              +button({title: "click me", size: "s", theme: "no-border"})
              +button({title: "click me", size: "s", theme: "no-border"})
            .buttons-group
              +button({title: "перейти к оплате", size: "l"})
          .title pagination
          +pagination()
        

          

         

        
