@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../components/inpt/inpt.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/checkbox-list/checkbox-list.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/button/button.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/rate-button/rate-button.scss';
@import '../../components/like-button/like-button.scss';
@import '../../components/rate-button/rate-button.scss';
@import '../../components/radio-button/radio-button.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/review/review.scss';

html, body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container{    
    margin: 0 auto;
    width: 1440px;
    min-height: 1853px;
    background-color: #FFFFFF;
    padding: 30px;
}

.logotype-container{
    display: flex;        
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 48px;
    height: 48px;
}

.title{
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

    margin-bottom: 16px;
    margin-top: 40px;

    user-select: none;
}

.content-container{
    padding-top: 65px;
    display: grid;
    grid-template-columns: [line1] 141px [line2] 446px [line3] 392px [line4] auto [line5];
    grid-template-rows: [line1] 733px [line2] 320px [line3] 400px [line4] auto [line5];
    justify-items: start;
    align-items: start;  
}

.left-column-row1{
    grid-column: line2 / line3;
    grid-row: line1 / line2;
}

.middle-column-row1{
    grid-column: line3 / line4;
    grid-row: line1 / line2;

    .checkbox-list{
        white-space: pre-line;
    }

    .radio-buttons-group{
        display: flex;
        gap: 20px;
    }

    .toggle{
        margin-bottom: 10px;
    }

    .like-buttons-group{
        display: flex;
        gap: 10px;
    }

    .rate-buttons-group{
        display: flex;
        gap: 20px;
    }
}

.right-column-row1{
    grid-column: line4 / line5;
    grid-row: line1 / line2;

    .buttons-block{
        display: flex;
        flex-flow: column;
        gap: 30px;

        .buttons-group{
            display: flex;
            gap: 20px;
        }
    }    
}

.middle-column-row2{
    grid-column: line3 / line4;
    grid-row: line2 / line3;
}

.middle-column-row3{
    grid-column: line3 / line4;
    grid-row: line3 / line4;

    .checkbox-list{
        white-space: pre-line;
    }
}

.right-column-row2{
    grid-column: line4 / line5;
    grid-row: line2 / line3;
}

.right-column-row3{
    grid-column: line4 / line5;
    grid-row: line3 / line4;

    .bullet-list{
        white-space: pre-line;
    }
}

.left-column-row3{
    grid-column: line2 / line3;
    grid-row: line3 / line4;

    & +{
        margin-bottom: 49px;
    }
}

.middle-column-row4{
    grid-column: line3 / line5;
    grid-row: line4 / line5;
}