include ../../components/inpt/inpt
include ../../components/date-dropdown/date-dropdown
include ../../components/checkbox-list/checkbox-list
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/toggle/toggle
include ../../components/rate-button/rate-button
include ../../components/like-button/like-button
include ../../components/radio-button/radio-button
include ../../components/dropdown/dropdown
include ../../components/bullet-list/bullet-list
include ../../components/review/review

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Form Elements    
  body
    div.container
      div.logotype-container
        img(src="images/uikit-logotype.svg")
      div.content-container

        .left-column-row1
          +inpt({title: "text field", size: "m", placeholder: "Email"})        
        
        .middle-column-row1
          +checkbox-list({title: "checkbox buttons", items: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей\n (до 10 человек)"]})
          .title radio buttons
          .radio-buttons-group
            +radio-button({title: "Мужчина", checked: true})
            +radio-button({title: "Женщина"})
          .title toggle
          .toggle-group
            +toggle("Получать спецпредложения")
            +toggle("Получать спецпредложения")
          .title like button
          .like-buttons-group
            +like-button({likes: 2})
            +like-button({likes: 12, emphasized: true})
          .title rate button
          .rate-buttons-group
            +rate-button(4)
            +rate-button(5)            
        
        .right-column-row1
          +range-slider({title: "range slider"})
          .title buttons
          .buttons-block            
            .buttons-group
              +button({title: "click me", size: "s"})
              +button({title: "click me", size: "s"})              
            .buttons-group
              +button({title: "click me", size: "s", theme: "white"})
              +button({title: "click me", size: "s", theme: "white"})
            .buttons-group
              +button({title: "click me", size: "s", theme: "no-border"})
              +button({title: "click me", size: "s", theme: "no-border"})
            .buttons-group
              +button({title: "перейти к оплате", size: "l"})
          .title pagination
          +pagination()
        
        .middle-column-row2
          +dropdown({size: "m", items: ["взрослые", "дети", "младенцы"], placeholder: "Сколько гостей"})

        .left-column-row3
          +checkbox-list({title: "expandable checkbox list", items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], expandable: true})
          +checkbox-list({title: "expandable checkbox list", items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], expandable: true})

        .right-column-row2
          +dropdown({size: "m", items: ["взрослые", "дети", "младенцы"], placeholder: "Сколько гостей"})

        .right-column-row3                  
          +bullet-list({title: "bullet list", items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00,\n а выезд до 12:00"]}) 

        .middle-column-row3  
          +checkbox-list({title: "rich checkbox buttons", 
                          items: ["Широкий коридор", "Помощник для инвалидов"], 
                          descriptions: ["Ширина коридоров в номере\n не менее 91 см.", "На 1 этаже вас встретит специалист\n и проводит до номера."],                          
                          })
        
        .middle-column-row4
          +review({name: "Мурад Сарафанов", 
                   date: "5 дней назад", 
                   text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\n И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\n не жаловался из соседей.",
                   num_likes: 12,
                   likes_emphasized: true,
                   photo_url: "images/photo.jpg"})

        
