@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../components/inpt/inpt.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/custom-checkbox/custom-checkbox.scss';
@import '../../components/custom-list/custom-list.scss';

html, body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container{    
    margin: 0 auto;
    width: 1440px;
    min-height: 100vh;
    background-color: #FFFFFF;
    padding: 30px;
}

.logotype-container{
    display: flex;        
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 48px;
    height: 48px;
}

.content-container{
    padding-top: 65px;
    display: grid;
    grid-template-columns: [line1] 141px [line2] 446px [line3] 392px [line4] auto [line5];
    justify-items: start;
    align-items: start;  
}

.left-column{
    grid-column: line2 / line3;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column; 

    .left-column__item1-title{
        display: flex;
        justify-content: space-between;        
    }
}
