doctype html
html 
  head 
    meta(charset="UTF-8")
    title Form Elements
    link(rel="stylesheet" type="text/css" href="formelements.css")
  body
    div.container
      div.logotype-container
        img(src="public/images/uikit-logotype.svg")
      div.content-container
        
