@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../components/inpt/inpt.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/checkbox-list/checkbox-list.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/button/button.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/toggle/toggle.scss';

html, body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container{    
    margin: 0 auto;
    width: 1440px;
    min-height: 100vh;
    background-color: #FFFFFF;
    padding: 30px;
}

.logotype-container{
    display: flex;        
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 48px;
    height: 48px;
}

.title{
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

    margin-bottom: 16px;
    margin-top: 40px;

    user-select: none;
}

.content-container{
    padding-top: 65px;
    display: grid;
    grid-template-columns: [line1] 141px [line2] 446px [line3] 392px [line4] auto [line5];
    justify-items: start;
    align-items: start;  
}

.left-column{
    grid-column: line2 / line3;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column; 

    .left-column__item1-title{
        display: flex;
        justify-content: space-between;        
    }
}

.middle-column{
    grid-column: line3 / line4;

    .checkbox-list{
        max-width: 230px;
    }

    .toggle{
        margin-bottom: 10px;
    }
}

.right-column{
    grid-column: line4 / line5;

    .buttons-block{
        display: flex;
        flex-flow: column;
        gap: 30px;

        .buttons-group{
            display: flex;
            gap: 20px;
        }
    }    
}