include ../../components/components

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Form Elements    
  body
    div.container
      
      div.logotype-container
        +logotype()
      
      div.content-container

        .left-column-row1
          .container-right-title
            .right-title default
            +inpt({title: "text field", placeholder: "Email"})
          .container-right-title
            .right-title hover/focus
            +inpt({title: "text field", placeholder: "Email"})
          +guests-dropdown({title: "dropdown"})
          +inpt({title: "masked text field", placeholder: "ДД.ММ.ГГГГ"})
          .date-dropdown-container
            +dropdown({title: "date dropdown", size: "s", text: "ДД.ММ.ГГГГ"})
            +dropdown({title: "date dropdown", size: "s", text: "19.02.2019"})
          +dropdown({title: "filter date dropdown", size: "m", text: "19 авг - 23 авг"})
          +inpt({title: "text field", size: "m", placeholder: "Email", type_submit: true})
        
        .middle-column-row1
          +checkbox-list({title: "checkbox buttons", items: [{title: "Можно курить"}, {title: "Можно с питомцами"}, {title: "Можно пригласить гостей\n (до 10 человек)"}]})
          .title radio buttons
          .radio-buttons-group
            +radio-button({title: "Мужчина", checked: true})
            +radio-button({title: "Женщина"})
          .title toggle
          .toggle-group
            +toggle("Получать спецпредложения")
            +toggle("Получать спецпредложения")
          .title like button
          .like-buttons-group
            +like-button({likes: 2})
            +like-button({likes: 12, emphasized: true})
          .title rate button
          .rate-buttons-group
            +rate-button(4)
            +rate-button(5)            
        
        .right-column-row1
          +range-slider({title: "range slider"})
          .title buttons
          .buttons-block            
            .buttons-group
              +button({title: "click me", size: "s"})
              +button({title: "click me", size: "s"})              
            .buttons-group
              +button({title: "click me", size: "s", theme: "white"})
              +button({title: "click me", size: "s", theme: "white"})
            .buttons-group
              +button({title: "click me", size: "s", theme: "no-border"})
              +button({title: "click me", size: "s", theme: "no-border"})
            .buttons-group
              +button({title: "перейти к оплате", size: "l"})
          .title pagination
          +pagination()
        
        .left-column-row2
          .container-right-title
            .right-title default
            +room-dropdown({title: "dropdown"})
          .container-right-title
            .right-title expanded           
            +room-dropdown({title: "dropdown", default_active: true})

        .middle-column-row2
          +guests-dropdown({title: "dropdown", default_active: true, adults: 2, children: 1, babies: 0})

        .right-column-row2
          +guests-dropdown({title: "dropdown", default_active: true, adults: 0, children: 0, babies: 0})

        .left-column-row3
          +checkbox-list({title: "expandable checkbox list", items: [{title: "Завтрак"}, {title: "Письменный стол"}, {title: "Стул для кормления"}, {title: "Кроватка"}, {title: "Телевизор"}, {title: "Шампунь"}], expandable: true})
          +checkbox-list({title: "expandable checkbox list", items: [{title: "Завтрак"}, {title: "Письменный стол", default_clicked: true}, {title: "Стул для кормления", default_clicked: true}, {title: "Кроватка", default_clicked: true}, {title: "Телевизор"}, {title: "Шампунь"}], expandable: true, default_open: true})       

        .right-column-row3                  
          +bullet-list({title: "bullet list", items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00,\n а выезд до 12:00"]}) 

        .middle-column-row3  
          +checkbox-list({title: "rich checkbox buttons", 
                          items: [{title: "Широкий коридор", description: "Ширина коридоров в номере\n не менее 91 см."}, 
                                  {title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист\n и проводит до номера."}]                                                  
                          })
        
        .middle-column-row4
          +review({name: "Мурад Сарафанов", 
                   date: "5 дней назад", 
                   text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\n И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто\n не жаловался из соседей.",
                   num_likes: 12,
                   likes_emphasized: true,
                   photo_url: "images/photo.jpg"})
                  
        .left-column-row4 
          +comfort-item({title: "Комфорт", description: "Шумопоглащающие стены", icon_url: "images/smile.svg", bottom_line: true})
          +comfort-item({title: "Удобство", description: "Окно в каждой из спален", icon_url: "images/building.svg", bottom_line: true})

        
