mixin like-button(params = {})
  -
    const {
      numLikes = 10,
      checked = false,
    } = params;

  .like-button.js-like-button(class=checked && 'like-button_checked')
    .like-button__counter.js-like-button__counter= numLikes