.like-button{
  width: 40px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid $gray-color-25;
  color: $gray-color-25;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  padding: 0 5px 0 5px;

  &::before{
    content: 'favorite_border';
    font-family: 'Material Icons';
    font-size: 10px;
    line-height: 10px;
  }

  &__counter{
    font-family: $primary-font;
    font-size: 10px;
    line-height: 12px;
    flex-grow: 1;
    text-align: center;
  }

  &_emphasized{
    border: 1px solid $primary-color;
    color: $primary-color;

    &::before{
      content: 'favorite';
      background: $primary-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}