mixin like-button(params = {})
  -
    const {
      numLikes = 10,
      checked = false,
    } = params;
    const class_checked = checked ? 'like-button_checked' : '';

  .like-button.js-like-button(class=class_checked)
    .like-button__counter.js-like-button__counter= numLikes