.like-button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid $gray-color-25;
  color: $gray-color-25;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
       user-select: none;
  cursor: pointer;
  font-size: 10px;
  line-height: 12px;
  padding: 0 5px;

  &::before {
    font: 10px 'Material Icons';
    content: 'favorite_border';
  }

  &__counter {
    flex-grow: 1;
    text-align: center;
  }

  &_checked {
    border: 1px solid $primary-color;
    color: $primary-color;

    &::before {
      content: 'favorite';
      background: $primary-gradient;
      -webkit-background-clip: text;
              background-clip: text;
      color: transparent;
    }
  }
}
