mixin like-button(params)
  -
    const {
      numLikes = 10,
      emphasized = false,
    } = params;
    const class_emphasized = emphasized ? 'like-button_emphasized' : '';

  .like-button(class=class_emphasized).js-like-button
    .like-button__counter.js-like-button__counter=numLikes