mixin like-button(params)
  -
    const {
      numLikes = 10,
      emphasized = false,      
    } = params;
    const class_emphasized = (emphasized ? "like-button_emphasized" : "");
    const class_gap = (params.likes < 10 ? "like-button_column-gap" : "");

  .like-button(class=class_emphasized class=class_gap)
    i.material-icons favorite
    .like-button__likes=numLikes