.custom-checkbox
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    user-select: none;

    &:hover{
        cursor: pointer;
    }

    &__box{  
        position: relative;      
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        flex-shrink: 0;

        object-fit: cover;
       
        &_clicked{
            border: 1px solid #BC9CFF;                      
        }        
    }

    &__checkmark{
        position: absolute;
        margin: auto;        
        top: 3px;
        left: 4.1px;

        display: none;
        
        &_clicked{
            display: block;
        }
    }

    &__container{        
        display: flex;
        flex-flow: column;
        gap: 5px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);

        p {
            margin: 0;
            padding: 0;
        }
    }

    &__title{        
        font-size: 14px;
        line-height: 20px;

        &_type-rich{
            color: rgba(31, 32, 65, 0.75);
            font-weight: 700;
        }
    }
}