.checkbox{
  user-select: none;
  display: flex;
  gap: 10px;

  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $gray-color-50; 

  &__label{
    position: relative;
    max-width: 20px;
    height: 20px;
    flex: 1 0 20px;
    cursor: pointer;
    overflow: visible;
  }

  &__input{
    appearance: none;
    cursor: inherit;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid $gray-color-25;
    }

    &:focus::before{
      box-shadow: 0px 0px 10px $gray-color-50;
    }

    &:checked:focus::before{
      box-shadow: 0px 0px 10px $primary-color;
    }

    :checked::before{
      border-color: $primary-color;
    }

    &:checked::after{
      content: '';
      position: absolute;
      top: 5px;
      left: 7px;
      width: 6px;
      height: 8px;
      box-sizing: border-box;
      border-width: 0px 2px 2px 0px;
      border-color: $primary-color;
      border-style: solid;
      transform: rotate(45deg);
    }
  }

  &__description{
    margin-top: 5px;
  }

  &__title{
    font-size: 14px;
    line-height: 20px;

    &_rich{
      color: $gray-color-75;
      font-weight: bold;
    }
  }
}