include ../calendar/calendar

mixin date-dropdown(params) 
  .date-dropdown.js-date-dropdown
    .date-dropdown__date-container
      .date-dropdown__dropdown
        .date-dropdown__title прибытие
        .date-dropdown__container.js-date-dropdown__container
          .date-dropdown__text ДД.ММ.ГГГГ
          i.material-icons expand_more            
      .date-dropdown__dropdown
        .date-dropdown__title выезд
        .date-dropdown__container.js-date-dropdown__container
          .date-dropdown__text ДД.ММ.ГГГГ
          i.material-icons expand_more
    .date-dropdown__calendar-container
      +calendar()
    

