include ../calendar/calendar

mixin date-dropdown(params) 
  div.date-dropdown("data-dropdown")
    div.date-dropdown__date-container
      div.date-dropdown__container("data-dropdown-button") 
        div.date-dropdown__text ДД.ММ.ГГГГ
        div.date-dropdown__img-container
          img(src="images/arrow-down.svg")
      div.date-dropdown__container("data-dropdown-button") 
        div.date-dropdown__text ДД.ММ.ГГГГ
        div.date-dropdown__img-container
          img(src="images/arrow-down.svg")
    .date-dropdown__calendar-container
      +calendar()
    

