include ../calendar/calendar

mixin date-dropdown(params = {})
  -
    const {
      twoDropdowns = true,
      title = 'прибытие',
      secondTitle = 'выезд',
      size = null,
      calendar = {},
    } = params;

  .date-dropdown.js-date-dropdown(class=size && `date-dropdown_size_${size}`)
    .date-dropdown__date-container
      - let numDropdowns = twoDropdowns ? 2 : 1;
      while numDropdowns-- > 0
        .date-dropdown__dropdown
          .date-dropdown__title= title
          .date-dropdown__container.js-date-dropdown__container
            .date-dropdown__text.js-date-dropdown__text ДД.ММ.ГГГГ
            .date-dropdown__arrow
    .date-dropdown__calendar-container
      +calendar(calendar)