include ../calendar/calendar

mixin date-dropdown(params) 
  -
    params = (params ? params : {});  
    const {
      twoDropdowns = true,
      title = 'прибытие',
      secondTitle = 'выезд',
      size,
      calendar,
    } = params;
    const class_size = size ? `date-dropdown_size-${size}` : '';

  .date-dropdown.js-date-dropdown(class=class_size)
    .date-dropdown__date-container
      .date-dropdown__dropdown
        .date-dropdown__title= title
        .date-dropdown__container.js-date-dropdown__container
          .date-dropdown__text ДД.ММ.ГГГГ
          i.material-icons expand_more
      if (twoDropdowns)            
        .date-dropdown__dropdown
          .date-dropdown__title= secondTitle
          .date-dropdown__container.js-date-dropdown__container
            .date-dropdown__text ДД.ММ.ГГГГ
            i.material-icons expand_more
    .date-dropdown__calendar-container
      +calendar(calendar)