.date-dropdown {
  max-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  user-select: none;
  font-size: 12px;
  line-height: 15px;

  &_size_m {
    max-width: 266px;
  }

  &__date-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__dropdown {
    flex-basis: 100%;
    min-width: 0;
  }

  &__title {
    height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $gray-color;
    margin-bottom: 5px;
  }

  &__container {
    cursor: pointer;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $gray-color-25;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
  }

  &__arrow {
    color: $gray-color-50;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 44px;

    &::after {
      font: 24px 'Material Icons';
      content: 'expand_more';
    }
  }

  &__text {
    min-width: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 41px;
    color: $gray-color-75;
  }

  &__calendar-container {
    width: 100%;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 999;
  }

  &_active > .date-dropdown__calendar-container {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
