include ../calendar/calendar

mixin date-dropdown(params)
  -
    params = params ? params : {};
    const {
      twoDropdowns = true,
      title = 'прибытие',
      secondTitle = 'выезд',
      size,
      calendar,
    } = params;
    const class_size = size ? `date-dropdown_size_${size}` : '';

  .date-dropdown.js-date-dropdown(class=class_size)
    .date-dropdown__date-container
      .date-dropdown__dropdown
        .date-dropdown__title= title
        .date-dropdown__container.js-date-dropdown__container
          .date-dropdown__text.js-date-dropdown__text ДД.ММ.ГГГГ
          .date-dropdown__arrow
      if (twoDropdowns)
        .date-dropdown__dropdown
          .date-dropdown__title= secondTitle
          .date-dropdown__container.js-date-dropdown__container
            .date-dropdown__text.js-date-dropdown__text ДД.ММ.ГГГГ
            .date-dropdown__arrow
    .date-dropdown__calendar-container
      +calendar(calendar)