.date-dropdown{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;

    
    
    & :hover{
        cursor: pointer;
       // border-color: rgba(31, 32, 65, 0.5);
    }

    &__container{
        width: 150px;
        height: 44px;    
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid rgba(31, 32, 65, 0.25);

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
    }

    &__text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__img-container{
        display: flex;        
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 44px;
        height: 44px;
    }

    &__dropdown-menu{
        width: 320px;
        //height: 369px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
        background: #FFFFFF;

        

        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

        position: absolute;
        left: 0;
        top: 49.56px;
        padding: 20px;
    }

    &__month-selector{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__month-title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
    }

    &__img-container2{
        display: flex;        
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 24px;
        height: 24px;

        & :hover{
            background-color: bisque;
        }
    }

    &__day-selector{
        margin-top: 30px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(7, 1fr);

        & :nth-child(1n){
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            color: #BC9CFF;
        }

        & :nth-child(1n + 8){
            font-weight: normal;
            color: rgba(31, 32, 65, 1);
        }
    } 
    
    &__grid-item{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &.ff{
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
            color: #FFFFFF;
            font-weight: 700;            
        }

        &.f1 ~ &:not(&.f2 ~&){
            //background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            //opacity: 0.25;
        }

        &.oo{
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            opacity: 0.25;
        }

        &.gg{
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border-radius: 22px;
            color: #FFFFFF;
            font-weight: 700;
        }

        &.qq{
            color: rgba(31, 32, 65, 0.25);
        }

        &.hidden{
            height: 0;
            display: none;
        }
    }

}

.date-dropdown.active > .date-dropdown__dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
