include ../../components/header/header
include ../../components/footer/footer
include ../../components/guests-dropdown/guests-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox-list/checkbox-list
include ../../components/room-dropdown/room-dropdown

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        
        .container 
            .filter
                +dropdown({title: "filter date dropdown", size: "m", text: "19 авг - 23 авг"})
                +guests-dropdown()
                +range-slider()
                +checkbox-list({title: "checkbox buttons", items: [{title: "Можно курить"}, {title: "Можно с питомцами"}, {title: "Можно пригласить гостей\n (до 10 человек)"}]})
                +checkbox-list({title: "rich checkbox buttons", items: [{title: "Широкий коридор", description: "Ширина коридоров в номере\n не менее 91 см."}, {title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист\n и проводит до номера."}]})
                +room-dropdown({title: "dropdown"})
                +checkbox-list({title: "expandable checkbox list", items: [{title: "Завтрак"}, {title: "Письменный стол", default_clicked: true}, {title: "Стул для кормления", default_clicked: true}, {title: "Кроватка", default_clicked: true}, {title: "Телевизор"}, {title: "Шампунь"}], expandable: true, default_open: true})   
            .content
        +footer()