@import '../../assets/style.scss';
@import '../../assets/fonts.scss';
@import '../../components/header/header.scss';
@import '../../components/header/__item/header__item.scss';
@import '../../components/search-form/search-form.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/login-form/login-form.scss';
@import '../../components/dropdown//__item/dropdown__item.scss';
@import '../../components/date-dropdown/date-dropdown.scss';
@import '../../components/calendar/calendar.scss';
@import '../../components/button/button.scss';
@import '../../components/footer/footer.scss';
@import '../../components/logotype/logotype.scss';
@import '../../components/signup-form/singup-form.scss';
@import '../../components/inpt/inpt.scss';
@import '../../components/radio-button/radio-button.scss';
@import '../../components/checkbox-list/checkbox-list.scss';
@import '../../components/custom-checkbox/custom-checkbox.scss';
@import '../../components/toggle/toggle.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/room-card/room-card.scss';

html, body{
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    background: $white-color;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 29999;
}

main{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: auto;
    gap: 25px;

    padding: 0 20px 70px 20px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
}

.filter-control{
    display: none;
}

.filter-container{
    position: sticky;
    top: 70px;

    padding-top: 30px;

    max-width: 270px;    

    display: flex;
    flex-flow: column;
    row-gap: 30px;

    height: max-content;
}

.data-container{

    padding-top: 30px;   

    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px; 
        color: $gray-color;

        align-self: flex-start;        
        padding-bottom: 21px;
    }
}

.rooms-container{
    max-width: 834px;
    flex-grow: 1;

    padding-bottom: 41px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
}

.room-card{    
    background-color: khaki;
    flex: 1 1 30%;
}

@media screen and (max-width: 650px){
    main{ 
        flex-flow: column;   
    }

    .room-card{
    }

    .filter-container{
        position: fixed;
        top: 110px;   
        display: none; 
        background: $white-color;
        min-width: 100vw;

        height: 100vh;
        
        &_open{
            display: flex;
        }
    }

    .filter-control{
        height: 40px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-top: 1px solid rgba(31, 32, 65, 0.05);
        background: $white-color;

        cursor: pointer;
        user-select: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }


}
