include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/searchpage/searchpage.json'));

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title TOXIN
  body
    header
      +header(data.header)
      .filter-control.js-filter-control Фильтр
    main
      .filter-container.js-filter-container
        +date-dropdown(data.dateDropdown)
        +guests-dropdown(data.guestsDropdown)
        +range-slider(data.rangeSlider)
        +checkbox-list(data.rulesCheckbox)
        +checkbox-list(data.availabilityCheckbox)
        +room-dropdown(data.roomDropdown)
        +checkbox-list(data.amenitiesCheckbox)
      .data-container.js-data-container
        .data-container__title Номера, которые мы для вас подобрали
        .rooms-container
          each roomCard in data.roomCards
            +room-card(roomCard)
        +pagination()
    footer.js-footer
      +footer(data.footer)