include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/searchpage/searchpage.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="search page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, searchpage")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body.searchpage
    header.searchpage__header
      +header(data.header)
      .searchpage__filter.js-searchpage__filter Фильтр
    main.searchpage__main
      .searchpage__filter-container.js-searchpage__filter-container
        .searchpage__date-dropdown-container
          +date-dropdown(data.dateDropdown)
        .searchpage__guests-dropdown-container
          +guests-dropdown(data.guestsDropdown)
        .searchpage__range-slider-container
          +range-slider(data.rangeSlider)
        .searchpage__rules-checkbox-container
          +checkbox-list(data.rulesCheckbox)
        .searchpage__availability-checkbox-container
          +checkbox-list(data.availabilityCheckbox)
        .searchpage__room-dropdown-container
          +room-dropdown(data.roomDropdown)
        +checkbox-list(data.amenitiesCheckbox)
      .searchpage__data-container.js-searchpage__data-container
        .searchpage__title Номера, которые мы для вас подобрали
        .searchpage__rooms-container
          each roomCard in data.roomCards
            .searchpage__room-card-container
              +room-card(roomCard)
        +pagination()
    footer.searchpage__footer.js-searchpage__footer
      +footer(data.footer)