.header-item{    
    position: relative;    
    min-height: 18px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;    
    font-size: 20px;
    line-height: 20px;
    color: $gray-color-50;
    cursor: pointer;    

    &__title-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        &:hover{
            color:$gray-color;
        }
    }

    &_selected{
        .header-item__title{
            font-weight: bold;
            color: $gray-color-75;
        }
    }

    &__title{
        text-decoration: none;
        color: inherit;
        line-height: 24px;
    }

    &__arrow{
        display: flex;        
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 24px;
        height: 24px;
    }

    &__child{
        display: block;
        margin-top: 30px;        
        width: max-content;
        text-decoration: none;        
        color: inherit;
        
        &:hover{
            color: $gray-color;
        }
    }

    &__children-container{        
        background: $white-color;
        display: none;          
    }

    &_open{
        .header-item__children-container{
            display: block;
        }
    }   

    @media screen and (min-width: 970px){
        .header-item__children-container{
            position: absolute;
            top: 34px;
            left: -15px;
            z-index: 19999;
            border-radius: 4px;
            box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
            
            .header-item__child{
                margin: 25px 15px;
            }            
        }       

        font-size: 14px;
        line-height: 17px;
    }
}

