@import 'slider/dist/lib/slider';

:root {
  --slider-primary-color: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.slider {
  &__container {
    font-size: 15px;
    padding: 0;
  }

  &__bar-container {
    bottom: 29px;
  }

  &__bar {
    background: white;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid $gray-color-25;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }

  &__pointer::after {
    content: '';
    display: block;
    width: 108%;
    height: 108%;
    position: absolute;
    transform: translate(-4%, -4%);
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px white solid;
  }
}

.range-slider {
  max-width: 266px;
  font-size: 12px;
  line-height: 15px;

  &__container {
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: $gray-color;
  }

  &__title {
    font-weight: bold;
  }

  &__price::after {
    content: attr(data-value);
    display: block;
    text-align: right;
    color: $gray-color-50;
  }

  &__slider {
    height: 6px;
  }
}
