extends ../base-template/base-template

block data
  include ../../components/bullet-list/bullet-list
  include ../../components/button/button
  include ../../components/checkbox-list/checkbox-list
  include ../../components/comfort-item/comfort-item
  include ../../components/date-dropdown/date-dropdown
  include ../../components/dropdown/dropdown
  include ../../components/field/field
  include ../../components/guests-dropdown/guests-dropdown
  include ../../components/like-button/like-button
  include ../../components/logotype/logotype
  include ../../components/pagination/pagination
  include ../../components/radio-button/radio-button
  include ../../components/range-slider/range-slider
  include ../../components/rate-button/rate-button
  include ../../components/review/review
  include ../../components/room-dropdown/room-dropdown
  include ../../components/toggle/toggle
  -
    const title = 'Form Elements';
    const description = 'form-elements page of Toxin Pages project';
    const keywords = 'toxin pages, form-elements';

block content
  .form-elements
    a.form-elements__logotype-container(href="navigation.html")
      +logotype({partial: true})
    .form-elements__data-container
      .form-elements__row
        .form-elements__column
          .form-elements__item.form-elements__item_with-right-title(data-text-right="default")
            +field({
              title: 'text field',
              placeholder: 'Email'
            })
          .form-elements__item.form-elements__item_with-right-title(data-text-right="hover / focus")
            +field({
              title: 'text field',
              value: 'This is pretty awesome',
              focused: true
            })
          .form-elements__item
            +guests-dropdown({title: 'dropdown'})
          .form-elements__item
            +field({
              title: 'masked text field',
              masked: true,
              placeholder: 'ДД.ММ.ГГГГ'
            })
          .form-elements__item
            +date-dropdown({
              title: 'date dropdown',
              secondTitle: 'date dropdown',
              calendar: calendar
            })
          .form-elements__item
            +date-dropdown({
              twoDropdowns: false,
              title: 'filter date dropdown',
              calendar: calendar
            })
          .form-elements__item
            +field({
              title: 'subscription text field',
              placeholder: 'Email',
              withSubmitButton: true
            })
        .form-elements__column
          .form-elements__item
            +checkbox-list({
              title: 'checkbox buttons',
              items: [
                {title: 'Можно курить'},
                {title: 'Можно с питомцами', checked: true},
                {title: 'Можно пригласить гостей (до 10 человек)', checked: true}
              ]
            })
          .form-elements__item.form-elements__item_with-title(data-text="radio buttons")
            +radio-button({title: 'Мужчина', checked: true})
            +radio-button({title: 'Женщина'})
          .form-elements__item.form-elements__item_with-title(data-text="toggle")
            +toggle({title: 'Получать спецпредложения', checked: true})
            +toggle({title: 'Получать спецпредложения'})
          .form-elements__item.form-elements__item_with-title(data-text="like button")
            +like-button({numLikes: 2})
            +like-button({numLikes: 12, checked: true})
          .form-elements__item.form-elements__item_with-title(data-text="rate button")
            +rate-button(4)
            +rate-button(5)
        .form-elements__column
          .form-elements__item
            +range-slider({
              title: 'range slider',
              min: 0,
              max: 16000,
              val1: 5000,
              val2: 10000,
              step: 100
            })
          .form-elements__item.form-elements__item_with-title(data-text="buttons")
            +button({title: 'click me', size: 's'})
            +button({title: 'click me', size: 's', disabled: true})
          .form-elements__item
            +button({title: 'click me', size: 's', theme: 'white'})
            +button({title: 'click me', size: 's', theme: 'white', disabled: true})
          .form-elements__item
            +button({title: 'click me', size: 's', theme: 'no-border'})
            +button({title: 'click me', size: 's', theme: 'no-border', disabled: true})
          .form-elements__item
            +button({title: 'перейти к оплате', size: 'l', arrow: true})
          .form-elements__item.form-elements__item_with-title(data-text="pagination")
            +pagination()
      .form-elements__row
        .form-elements__column
          .form-elements__item.form-elements__item_with-right-title(data-text-right="default")
            +room-dropdown({
              title: 'dropdown',
              beds: 2,
              bedrooms: 2,
              bathrooms: 0
            })
          .form-elements__item.form-elements__item_with-right-title(data-text-right="expanded")
            +room-dropdown({
              title: 'dropdown',
              alwaysOpen: true,
              beds: 2,
              bedrooms: 2,
              bathrooms: 0
            })
        .form-elements__column
          .form-elements__item
            +guests-dropdown({
              title: 'dropdown',
              alwaysOpen: true,
              adults: 0, 
              children: 0,
              babies: 0
            })
        .form-elements__column
          .form-elements__item
            +guests-dropdown({
              title: 'dropdown',
              alwaysOpen: true,
              adults: 2, 
              children: 1,
              babies: 0
            })
      .form-elements__row
        .form-elements__column
          .form-elements__item
            +checkbox-list({
              title: 'expandable checkbox list',
              items: [{title: 'Ничего'}],
              expandable: true
            })
          .form-elements__item
            +checkbox-list({
              title: 'expandable checkbox list',
              expandable: true,
              alwaysOpen: true,
              items: [
                {title: 'Завтрак'},
                {title: 'Письменный стол', checked: true},
                {title: 'Стул для кормления', checked: true},
                {title: 'Кроватка', checked: true},
                {title: 'Телевизор'},
                {title: 'Шампунь'}
              ]
            })
        .form-elements__column
          .form-elements__item
            +checkbox-list({
              title: 'rich checkbox buttons',
              items: [
                {
                  title: 'Широкий коридор',
                  description: 'Ширина коридоров в номере не менее 91 см.'
                },
                {
                  title: 'Помощник для инвалидов',
                  description: 'На 1 этаже вас встретит специалист и проводит до номера.'
                }
              ]
            })
        .form-elements__column
          .form-elements__item
            +bullet-list({
              title: 'bullet list',
              items: [
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                'Время прибытия — после 13:00, а выезд до 12:00'
              ]
            })
      .form-elements__row
        .form-elements__column
          .form-elements__item
            +comfort-item({
              title: 'Комфорт',
              description: 'Шумопоглощающие стены',
              underlined: true,
              icon: 'insert_emoticon'
            })
          .form-elements__item
            +comfort-item({
              title: 'Удобство',
              description: 'Окно в каждой из спален',
              underlined: true,
              icon: 'location_city'
            })
        .form-elements__column
          .form-elements__item
            +review({
              name: 'Мурад Сарафанов',
              date: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              numLikes: 12,
              likeButtonChecked: true,
              photoUrl: 'images/avatar-man.jpg'
            })