include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/form-elements/form-elements.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="formelements page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, formelements")
    title Form Elements
  body.form-elements
    .form-elements__logotype-container
      +logotype(data.logotype)
    .form-elements__data-container
      .form-elements__row
        .form-elements__column
          .form-elements__item.form-elements__item_with-right-title(data-text-right="default")
            +field(data.Col1Row1.field1)
          .form-elements__item.form-elements__item_with-right-title(data-text-right="hover / focus")
            +field(data.Col1Row1.field2)
          .form-elements__item
            +guests-dropdown(data.Col1Row1.guestsDropdown)
          .form-elements__item
            +field(data.Col1Row1.field3)
          .form-elements__item
            +date-dropdown(data.Col1Row1.dropdown1)
          .form-elements__item
            +dropdown(data.Col1Row1.dropdown3)
          .form-elements__item
            +field(data.Col1Row1.field4)
        .form-elements__column
          .form-elements__item
            +checkbox-list(data.Col2Row1.checkboxList)
          .form-elements__item.forme-lements__item_with-title(data-text="radio buttons")
            +radio-button(data.Col2Row1.radioButton1)
            +radio-button(data.Col2Row1.radioButton2)
          .form-elements__item.form-elements__item_with-title(data-text="toggle")
            +toggle(data.Col2Row1.toggle1)
            +toggle(data.Col2Row1.toggle2)
          .form-elements__item.form-elements__item_with-title(data-text="like button")
            +like-button(data.Col2Row1.likeButton1)
            +like-button(data.Col2Row1.likeButton2)
          .form-elements__item.form-elements__item_with-title(data-text="rate button")
            +rate-button(data.Col2Row1.rateButton1)
            +rate-button(data.Col2Row1.rateButton2)
        .form-elements__column
          .form-elements__item
            +range-slider(data.Col3Row1.rangeSlider)
          .form-elements__item.form-elements__item_with-title(data-text="buttons")
            +button(data.Col3Row1.button1)
            +button(data.Col3Row1.button2)
          .form-elements__item
            +button(data.Col3Row1.button3)
            +button(data.Col3Row1.button4)
          .form-elements__item
            +button(data.Col3Row1.button5)
            +button(data.Col3Row1.button6)
          .form-elements__item
            +button(data.Col3Row1.button7)
          .form-elements__item.form-elements__item_with-title(data-text="pagination")
            +pagination()
      .form-elements__row
        .form-elements__column
          .form-elements__item.form-elements__item_with-right-title(data-text-right="default")
            +room-dropdown(data.Col1Row2.roomDropdown1)
          .form-elements__item.form-elements__item_with-right-title(data-text-right="expanded")
            +room-dropdown(data.Col1Row2.roomDropdown2)
        .form-elements__column
          .form-elements__item
            +guests-dropdown(data.Col2Row2.guestsDropdown)
        .form-elements__column
          .form-elements__item
            +guests-dropdown(data.Col3Row2.guestsDropdown)
      .form-elements__row
        .form-elements__column
          .form-elements__item
            +checkbox-list(data.Col1Row3.checkboxList1)
          .form-elements__item
            +checkbox-list(data.Col1Row3.checkboxList2)
        .formelements__column
          .formelements__item
            +checkbox-list(data.Col2Row3.checkboxList)
        .formelements__column
          .form-elements__item
            +bullet-list(data.Col3Row3.bulletList)
      .form-elements__row
        .form-elements__column
          .form-elements__item
            +comfort-item(data.Col1Row4.comfortItem1)
          .form-elements__item
            +comfort-item(data.Col1Row4.comfortItem2)
        .form-elements__column
          .form-elements__item
            +review(data.Col2Row4.review)