include ./__checkbox/checkbox-list__checkbox

mixin checkbox-list(params)
  -
    params = (params ? params : {});
    const {
      title,
      items = [],
      expandable = false,
      defaultOpen = true,
    } = params;

    const class_expandable = expandable ? 'checkbox-list_expandable' : '';
    const class_open = defaultOpen ? 'checkbox-list_open' : '';

  .checkbox-list.js-checkbox-list(class=class_expandable class=class_open)
    .checkbox-list__title.js-checkbox-list__title=title
      if(expandable)
        i.material-icons expand_more
    ul.checkbox-list__list.js-checkbox-list__list
      -let i = -1;
      while ++i < items.length
        li.checkbox-list__item
          +checkbox-list__checkbox(items[i])