@import '../custom-checkbox/custom-checkbox.scss';

.checkbox-list{
    position: relative;
    user-select: none;

    &_expandable{
        .checkbox-list__title{
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;  
        text-transform: uppercase;
        color: #1F2041;
        
        width: 268px;
        display: flex;
        justify-content: space-between;
        align-items: center;       
    }

    &__arrow{
        width: 15px;
        height: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container{ 
        display: flex;
        flex-flow: column;
        gap: 10px; 

        &_expandable{
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.07s ease-out;  
        }

        &_open{
            max-height: max-content;
        }

        .custom-checkbox:first-child{
            margin-top: 16.5px;
        }
    }
}