.checkbox-list{
  user-select: none;

  &__title{
    font: normal bold 12px/15px $primary-font;
    text-transform: uppercase;
    color: $gray-color;
    max-width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow{
    transition: 0.11s;
    width: 48px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-color-50;
  }

  &__list{
    padding: 0;
    margin: 0;
  }

  &__item{
    list-style: none;

    &:first-child{
      margin-top: 16px;
    }
  }

  &_expandable{
    .checkbox-list__title{
      cursor: pointer;
    }

    .checkbox-list__list{
      max-height: 0;
      overflow: hidden;
    }

    .checkbox-list__item{
      &:first-child{
        margin-top: 17px;
      }
    }
  }

  &_open{
    .checkbox-list__list{
      max-height: max-content;
      overflow: visible;
    }

    .checkbox-list__arrow{
      transform: rotate(180deg);
    }
  }
}