include ../custom-checkbox/custom-checkbox

mixin checkbox-list(params)
  -
    const {
      title = "title",
      items = [],
      descriptions = [],
      expandable = false,
      defaultOpen = true,
    } = params;

    const class_expandable = expandable ? "checkbox-list_expandable" : "";

  .checkbox-list(class = class_expandable)
    .checkbox-list__title=title
      if (expandable)
        i.material-icons expand_more
    .checkbox-list__container(class = expandable ? "checkbox-list__container_expandable" : "" class = defaultOpen ? "checkbox-list__container_open" : "")
      -var i = -1;
      while ++i < items.length      
        +custom-checkbox(items[i])
          
          