include ../checkbox/checkbox

mixin checkbox-list(params = {})
  -
    const {
      title = 'list',
      items = [],
      expandable = false,
      alwaysOpen = false,
    } = params;

    const classes = [
      expandable && 'checkbox-list_expandable',
      alwaysOpen && 'checkbox-list_always-open'
    ];

  .checkbox-list.js-checkbox-list(class=classes)
    .checkbox-list__title.js-checkbox-list__title= title
      if(expandable)
        .checkbox-list__arrow
    ul.checkbox-list__list.js-checkbox-list__list
      -let i = -1;
      while ++i < items.length
        li.checkbox-list__item
          +checkbox(items[i])