.radio-button{
  user-select: none;

  &__label{
    display: inline-block;
    height: 20px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font: normal normal 14px/20px $primary-font;
    color: $gray-color-75;
  }

  &__input{
    appearance: none;
    cursor: inherit;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid $gray-color-25;
      background: $white-color;
    }

    &:checked::before{
      border-color: $primary-color;
    }

    &:focus::before{
      box-shadow: 0 0 10px $primary-color;
    }

    &::after{
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: $white-color;
    }

    &:checked::after{
      background: $primary-gradient;
    }
  }
}