.radio-button{
  user-select: none;
  display: flex;
  align-items: center;

  &__label{
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  &__input{
    padding: 0;
    appearance: none;
    cursor: inherit;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid $gray-color-25;
      background: $white-color;
    }

    &:focus::before{
      box-shadow: 0 0 10px $primary-color;
    }

    &::after{
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: $white-color;
    }  
  }

  &__input:checked::before{
    border-color: $primary-color;
  }

  &__input:checked::after{
    background: $primary-gradient;
  }

  &__title{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $gray-color-75;
    margin-left: 10px;
  }
}