mixin radio-button(params)
  -
    const {
      title,
      name = 'default_name',
      value = 'default_value',
      checked = false,
    } = params;

  .radio-button
    label.radio-button__label
      input(type='radio' name=name checked=checked).radio-button__input
      .radio-button__container
    .radio-button__title=title
    