.colors-type {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background: $white-color;

  &__logotype-container {
    display: inline-block;
    padding: 30px 0 0 30px;
  }

  &__data-container {
    margin-top: 67px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 697px 436px;
    align-items: start;
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__right-column {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
  }

  &__item {
    line-height: 24px;
    color: $gray-color;

    &:nth-child(1) {
      @extend %colors-type__item_size_x;
      @extend %colors-type__item_text_right;
    }

    &:nth-child(2) {
      @extend %colors-type__item_text_bold;
      @extend %colors-type__item_size_x;

      margin-bottom: 52px;
    }

    &:nth-child(3) {
      @extend %colors-type__item_text_right;
      @extend %colors-type__item_size_l;
    }

    &:nth-child(4) {
      @extend %colors-type__item_text_bold;
      @extend %colors-type__item_size_l;

      margin-bottom: 53px;
    }

    &:nth-child(5) {
      @extend %colors-type__item_text_right;
      @extend %colors-type__item_size_m;
    }

    &:nth-child(6) {
      @extend %colors-type__item_text_bold;
      @extend %colors-type__item_size_m;

      margin-bottom: 46px;
    }

    &:nth-child(7) {
      @extend %colors-type__item_text_right;
    }

    &:nth-child(8) {
      color: $gray-color-75;
      max-width: 310px;
    }
  }
}

%colors-type__item {
  &_text_bold {
    font-weight: bold;
  }

  &_text_right {
    text-align: right;
    color: $gray-color-25;
  }

  &_size_x {
    font-size: 24px;
    line-height: 29px;
  }

  &_size_l {
    font-size: 19px;
    line-height: 23px;
  }

  &_size_m {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
