.room {
  background: $white-color;

  &__header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__footer {
    border-top: 1px solid $gray-color-25;
  }

  &__figure {
    margin: auto;
    display: flex;
  }

  &__photo-group {
    &:first-child {
      flex-basis: 68%;

      .room__photo-container {
        position: relative;
        padding-bottom: 49.6%;
      }
    }

    &:last-child {
      flex-basis: 32%;

      .room__photo-container {
        position: relative;
        padding-bottom: 52.7%;
      }
    }
  }

  &__photo {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 68px;
    row-gap: 30px;
    padding: 71px 40px 72px;
    max-width: 1160px;
    margin: auto;
    color: $gray-color;

    @media screen and (max-width: 520px) {
      padding: 20px;
    }
  }

  &__container {
    max-width: 712px;
    min-width: 0;
  }

  &__summary-form-container {
    max-width: 380px;
    min-width: 0;
    flex: 1 0 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;

    &_left-indented {
      padding-left: 20px;
    }
  }

  &__top-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    max-width: 671.89px;
  }

  &__middle-group {
    margin-top: 33px;
  }

  &__bottom-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    max-width: 702px;
    margin-top: 33px;
  }

  &__comfort-items-container {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    margin-top: 21px;
  }

  &__chart-container {
    margin-top: 20px;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
  }

  &__review-counter {
    align-self: flex-end;
    margin-bottom: 2px;
    margin-right: 2px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: $gray-color-50;
  }

  &__reviews-container {
    display: flex;
    flex-flow: column;
    row-gap: 23px;
    margin-top: 21px;
  }

  &__bullet-list-container {
    margin-top: 18px;
    max-width: 260px;
  }

  &__cancelation-description {
    line-height: 24px;
    color: $gray-color-75;
    max-width: 341px;
    margin-top: 18px;
  }
}
