@import '../global.scss';
@import '../../components/components.scss';

html, body{
  background: $white-color;
}

.room{
  &__header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__main{
    max-width: 1440px;
    margin: auto;
  }

  &__footer{
    border-top: 1px solid $gray-color-25;
  }

  &__figure{
    margin: auto;
    display: flex;
  }

  &__photo-group{
    max-height: 485px;

    &:first-child{
      flex-basis: 68%;
      .room__photo-container{
        position: relative;
        padding-bottom: 49.6%;
      }
    }

    &:last-child{
      flex-basis: 32%;
      .room__photo-container{
        position: relative;
        padding-bottom: 52.7%;
      }
    } 
  }

  &__photo{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    column-gap: 68px;
    row-gap: 30px;
    max-width: 1160px;
    padding: 70px 40px;
    margin: auto;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $gray-color;

    @media screen and (max-width: 520px){
      padding: 20px;
    }
  }

  &__container{
    max-width: 712px;
    min-width: 0;
  }

  &__summary-form-container{
    max-width: 380px;
    min-width: 0;
    flex: 1 0 100%;
  }

  &__group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

    &:first-child{
      max-width: 671.89px;
      padding-bottom: 34px;
    }

    &:last-child{
      max-width: 702px;
      padding-top: 32px;
    }
  }

  &__group-block{
    max-width: max-content;
    &_rules{
        max-width: 260px;
    }
    &_cancelation{
        max-width: 341px;
    }
  }

  &__title{
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;

    &_rules{
      padding-left: 20px;
      @media screen and (max-width: 800px){
        padding-left: 0;
      }
    }
  }

  &__review-counter{
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: $gray-color-50;
  }

  &__cancelation-description{
    line-height: 24px;
    color: $gray-color-75;
  }

  &__comfort-items-container{
    display: flex;
    flex-flow: column;
    row-gap: 20px;
  }

  &__reviews-container{
    display: flex;
    flex-flow: column;
    row-gap: 23px;
  }
}