include ../button/button

mixin calendar(params)
  -
    params = params ? params : {};
    let arrival = new Date();
    let departure = new Date();
    arrival.setDate(arrival.getDate() + 1);
    departure.setDate(departure.getDate() + 5);
    const {
      arrivalDate = arrival,
      departureDate = departure,
    } = params;

  .calendar.js-calendar(data-arrival=arrivalDate, data-departure=departureDate)
    .calendar__month-selector
      button.calendar__month-button.js-calendar__month-button(type="button")
        i.calendar__arrow.material-icons arrow_back
      .calendar__month-title.js-calendar__month-title Август 2021
      button.calendar__month-button.js-calendar__month-button(type="button")
        i.calendar__arrow.material-icons arrow_forward
    .calendar__day-selector.js-calendar__day-selector
      .calendar__grid-item Пн
      .calendar__grid-item Вт
      .calendar__grid-item Ср
      .calendar__grid-item Чт
      .calendar__grid-item Пт
      .calendar__grid-item Сб
      .calendar__grid-item Вс
      - let n = 0
      while n < 42
        .calendar__grid-item.js-calendar__grid-item= n++
    .calendar__buttons-container
      .calendar__control-button.js-calendar__control-button
        +button({title: 'очистить', size: 's', theme: 'no-border'})
      .calendar__control-button.js-calendar__control-button
        +button({title: 'применить', size: 's', theme: 'no-border'})