.calendar{
    width: 320px;    
    box-sizing: border-box;
    border: 1px solid $gray-color-25;
    border-radius: 4px;
    box-shadow: 0px 10px 20px $gray-color-5;        
    background: $white-color;
    padding: 20px;
    user-select: none;

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $gray-color-50;

    &__month-selector{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__month-title{
        color: $gray-color;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
    }

    &__month-button{        
        width: 40px;
        height: 40px;
        border-radius: 22px;             
        cursor: pointer;
        outline: none;
        border: none;
        color: $primary-color;
        background: $white-color;
        
        &:hover{           
            background: $primary-gradient-25;         
        }

        & > i{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__day-selector{
        margin-top: 30px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(7, 1fr);        
    }

    &__buttons-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20.44px;
    }

    &__grid-item{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;           

        &:nth-child(-n + 7){
            font-weight: bold;
            color: $primary-color;
            cursor: default;
        }

        &_not-current-month-date{
            color: $gray-color-25;
        }
        
        &_arrival-departure-date{
            background: $primary-gradient-75;
            color: $white-color;
            border-radius: 22px;            
            font-weight: bold;
            z-index: 0;
           
            &:after{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;                
                width: 40px;
                height: 40px;                 
                display: none;               
                background: $primary-gradient-25;
            }

            &:hover:not(.calendar__grid-item_current-date){
                background: $primary-gradient;
            }
        }  
        
        &_arrival-day-set:after{
            border-radius: 22px 0 0 22px;
            display:block;            
        }

        &_departure-day-set:after{
            border-radius: 0 22px 22px 0;
            display:block;
        }

        &_between-arival-departure-date{
            background: $primary-gradient-25;         
            color: $gray-color-50;

            &:hover{
                background: $primary-gradient-40;
            }
        }        

        &_current-date{
            background: $secondary-gradient-75;
            border-radius: 22px;
            color: $white-color;
            font-weight: bold;

            &:hover{
                background: $secondary-gradient;
            }            
        }  
        
        &_current-date.calendar__grid-item_arrival-departure-date{
            background: $secondary-gradient;
        }

        &_hidden{            
            display: none;
        } 
        
        &:hover:not(&_arrival-departure-date):not(&_between-arival-departure-date):not(&_current-date):not(&:nth-child(-n + 7)){
            background: $primary-gradient-25;           
        }
    }
}
