.calendar {
  max-width: 320px;
  box-sizing: border-box;
  border: 1px solid $gray-color-25;
  border-radius: 4px;
  box-shadow: 0 10px 20px $gray-color-5;
  background: $white-color;
  padding: 6.25%;
  padding-top: 5.625%;
  padding-bottom: 5.9375%;
  user-select: none;
  font: normal normal 12px/15px $primary-font;
  color: $gray-color-50;

  &__month-selector {
    display: flex;
    justify-content: space-between;
  }

  &__month-title {
    color: $gray-color;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
  }

  &__month-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: $primary-color;

    &:hover {
      color: $gray-color-50;
    }
  }

  &__arrow-back,
  &__arrow-forward {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow-back::after {
    content: 'arrow_back';
    font: normal normal 24px/24px 'Material Icons';
  }

  &__arrow-forward::after {
    content: 'arrow_forward';
    font: normal normal 24px/24px 'Material Icons';
  }

  &__day-selector {
    margin-top: 11%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;

    &::before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .calendar__grid-item:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }

  &__buttons-container {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:hover {
      background: $primary-gradient-25;
    }

    &:nth-child(-n + 7) {
      font-weight: bold;
      color: $primary-color;
      cursor: default;

      &:hover {
        background: none;
      }
    }

    &_hidden {
      display: none;
    }

    &_selected {
      background: $primary-gradient-25;
      color: $gray-color-50;

      &:hover {
        background: $primary-gradient-40;
      }
    }

    &_color_light {
      color: $gray-color-25;
    }

    &_with-green-circle {
      background: $secondary-gradient-75;
      border-radius: 50%;
      color: $white-color;
      font-weight: bold;

      &:hover {
        background: $secondary-gradient;
      }
    }

    &_with-purple-circle {
      background: $primary-gradient-75;
      border-radius: 50%;
      color: $white-color;
      font-weight: bold;
      position: relative;
      z-index: 0;

      &:hover {
        background: $primary-gradient;
      }
    }

    &_selected-left::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $primary-gradient-25;
      border-radius: 50% 0 0 50%;
      display: block;
    }

    &_selected-right::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $primary-gradient-25;
      border-radius: 0 50% 50% 0;
      display: block;
    }
  }
}
