.search-page{
  background: $white-color;
  font: normal normal 18px/20px $primary-font;
  color: $gray-color;

  &__header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 6;
  }

  &__main{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    max-width: 1160px;
    margin: auto;
    padding: 0 20px 70px 20px;
    border-bottom: 1px solid $gray-color-25;
    @media screen and (max-width: 650px){
      flex-flow: column;
    }
  }

  &__filter{
    display: none;
    font-weight: bold;

    @media screen and (max-width: 650px){
      height: 40px;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      border-top: 1px solid rgba(31, 32, 65, 0.05);
      background: $white-color;
      cursor: pointer;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__data-container{
    padding-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (max-width: 650px){
      padding-top: 0;
    }
  }

  &__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-self: flex-start;
    padding-bottom: 21px;
  }

  &__rooms-container{
    max-width: 834px;
    flex-grow: 1;
    padding-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
  }

  &__room-card-container{
    flex: 1 1 30%;
  }

  &__filter-container{
    position: sticky;
    top: 70px;
    padding-top: 30px;
    max-width: 270px;

    &_open{
      max-height: max-content;
      min-height: 100vh;
    }

    @media screen and (max-width: 650px){
      background: $white-color;
      overflow: hidden;
      margin: auto;
      max-height: 0;
    }
  }

  &__date-dropdown-container{
    margin-bottom: 20.44px;
  }

  &__guests-dropdown-container{
    margin-bottom: 30.44px;
  }

  &__range-slider-container{
    margin-bottom: 30px;
    &::after{
      content: 'Стоимость за сутки пребывания в номере';
      display: block;
      font-size: 12px;
      line-height: 14px;
      padding-top: 10.56px;
      color: $gray-color-50;
    }
  }

  &__rules-checkbox-container{
    margin-bottom: 28px;
    max-width: 222px;
  }

  &__availability-checkbox-container{
    margin-bottom: 29px;
    max-width: 264px;

    .checkbox-list__item:first-child{
      max-width: 222px;
    }
  }

  &__room-dropdown-container{
    margin-bottom: 29px;
  }
}