include ../field/field
include ../button/button
include ../toggle/toggle
include ../radio-button/radio-button

mixin signup-form(params = {})
  -
    const {
      buttonTitle = 'зарегистрироваться',
      actionLink = 'https://echo.htmlacademy.ru',
      loginButtonLink = '/mock-address/change-me',
    } = params;

  form.signup-form(action=actionLink, method="post")
    .signup-form__title Регистрация аккаунта
    .signup-form__userdata-container
      +field({placeholder: 'Имя', name: 'name'})
      +field({placeholder: 'Фамилия', name: 'surname'})
      .signup-form__radio-buttons-container
        +radio-button({
          title: 'Мужчина',
          checked: true,
          name: 'gender',
          value: 'male'
        })
        +radio-button({title: 'Женщина', name: 'gender', value: 'female'})
    .signup-form__birthdate-container
      +field({
        title: 'дата рождения',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'birthdate',
        masked: true,
      })
    .signup-form__inputdata-container
      +field({
        title: 'данные для входа в сервис',
        placeholder: 'Email',
        type: 'email',
        name: 'email'
      })
      +field({placeholder: 'Пароль', type: 'password', name: 'password'})
      +toggle({title: 'Получать спецпредложения', name: 'subscription'})
    .signup-form__button-container
      +button({title: buttonTitle, size: 'l', arrow: true, type: 'submit'})
    .signup-form__button-container
      .signup-form__text Уже есть аккаунт на Toxin
      .signup-form__input-button
        +button({title: 'войти', theme: 'white', href: loginButtonLink})