extends ../base-template/base-template

block data
  -
    const title = 'TOXIN';
    const description = 'navigation page of Toxin Pages project';
    const keywords = 'toxin pages, navigation'

block content
  .navigation
    .navigation__group
      a.navigation__link(href="./colors-type.html") Colors & Type
      a.navigation__link(href="./form-elements.html") Form Elements
      a.navigation__link(href="./cards.html") Cards
      a.navigation__link(href="./headers-footers.html") Headers & Footers
    .navigation__group
      a.navigation__link(href="./main.html") Landing Page
      a.navigation__link(href="./search-page.html") Search Room
      a.navigation__link(href="./room.html") Room Details
      a.navigation__link(href="./signup.html") Registration
      a.navigation__link(href="./login.html") Sign In