extends ../base-template/base-template

block data
  -
    const title = 'TOXIN';
    const description = 'navigation page of Toxin Pages project';
    const keywords = 'toxin pages, navigation';
    const uikit = [
      {title: 'Colors & Type', link: './colors-type.html'},
      {title: 'Form Elements', link: './form-elements.html'},
      {title: 'Cards', link: './cards.html'},
      {title: 'Headers & Footers', link: './headers-footers.html'}
    ];
    const pages = [
      {title: 'Landing Page', link: './main.html'},
      {title: 'Search Room', link: './search-page.html'},
      {title: 'Room Details', link: './room.html'},
      {title: 'Registration', link: './signup.html'},
      {title: 'Sign In', link: './login.html'}
    ]

block content
  .navigation
    .navigation__group
      each item in uikit
        a.navigation__link(href=item.link)= item.title
    .navigation__group
      each item in pages
        a.navigation__link(href=item.link)= item.title