doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="navigation page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, navigation")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body.navigation
    .navigation__group
      a.navigation__link(href="./colors-type.html") Colors & Type
      a.navigation__link(href="./form-elements.html") Form Elements
      a.navigation__link(href="./cards.html") Cards
      a.navigation__link(href="./headers-footers.html") Headers & Footers
    .navigation__group
      a.navigation__link(href="./main.html") Landing Page
      a.navigation__link(href="./search-page.html") Search Room
      a.navigation__link(href="./room.html") Room Details
      a.navigation__link(href="./signup.html") Registration Page
      a.navigation__link(href="./login.html") Login Page