.navigation{
  background: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 30px;
  align-items: flex-start;

  font: normal normal 24px/24px $primary-font;

  &__group{
    min-width: 230px;
    min-height: 300px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    gap: 30px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__link{
    text-decoration: none;
    color: $primary-color;

    &:hover{
      color: $secondary-color;
    }
  }
}
