include ../date-dropdown/date-dropdown
include ../button/button

mixin search-form()
  div.search-form
    div.search-form__title Найдём номера под ваши пожелания
    +date-dropdown()
    +button('Подобрать номер', true)

