.search-form {
  background: $white-color;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  -webkit-user-select: none;
          user-select: none;
  max-width: 380px;
  min-width: 0;
  width: 100%;
  height: max-content;
  padding: 39px 20px 0;

  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: $gray-color;
    max-width: 320px;
    margin: auto;
    margin-bottom: 22px;
  }

  &__date-dropdown-container {
    max-width: 320px;
    margin: auto;
    margin-bottom: 21px;
  }

  &__guests-dropdown-container {
    max-width: 320px;
    margin: auto;
    margin-bottom: 31px;
  }

  &__button-container {
    max-width: 320px;
    margin: auto;
    margin-bottom: 29px;
  }
}
