include ../date-dropdown/date-dropdown
include ../button/button
include ../guests-dropdown/guests-dropdown

mixin search-form()
  .search-form
    .search-form__title Найдём номера под ваши пожелания
    .search-form__date-dropdown-container
      +date-dropdown()
    .search-form__guests-dropdown-container
      +guests-dropdown()
    .search-form__button-container
      +button({title: "Подобрать номер", size: "l"})
