include ../date-dropdown/date-dropdown
include ../button/button
include ../guests-dropdown/guests-dropdown

mixin summary-form(params = {})
  -
    const {
      price = 9990,
      number = 888,
      luxe = true,
      guestsDropdown = {},
      calendar = {},
    } = params;

  form.summary-form.js-summary-form(data-price=price)
    .summary-form__head
      .summary-form__number= number
        if (luxe)
          .summary-form__number-luxe люкс
      .summary-form__price.js-summary-form__price= `${price} Р`
    .summary-form__date-dropdown-container.js-summary-form__date-dropdown-container
      +date-dropdown({calendar})
    .summary-form__guests-dropdown-container
      +guests-dropdown(guestsDropdown)
    .summary-form__calculator.js-summary-form__calculator
      .summary-form__calculator-row
        .summary-form__calculator-item.js-summary-form__calculator-item 0 суток
        .summary-form__calculator-price.js-summary-form__calculator-price 0
      .summary-form__calculator-grid
        .summary-form__calculator-item.js-summary-form__calculator-item
          |Сбор за услуги
        .summary-form__calculator-sign
        .summary-form__calculator-price.js-summary-form__calculator-price 0
        .summary-form__calculator-item.js-summary-form__calculator-item
          |Сбор за дополнительные услуги
        .summary-form__calculator-sign
        .summary-form__calculator-price.js-summary-form__calculator-price 0
      .summary-form__calculator-row
        .summary-form__calculator-item.js-summary-form__calculator-item Итого
        .summary-form__calculator-price.js-summary-form__calculator-price 0
    .summary-form__button-container
      +button({title: 'забронировать', size: 'l', type: 'submit', arrow: true})