include ../date-dropdown/date-dropdown
include ../button/button
include ../guests-dropdown/guests-dropdown

mixin summary-form(params)
  -
    params = params ? params : {};
    const {
      price = 9990,
      number = 888,
      luxe = true,
      guestsDropdown,
      calendar,
    } = params;
    const class_luxe = luxe ? 'summary-form__number_luxe' : '';

  form.summary-form.js-summary-form(data-price=price)
    .summary-form__head
      .summary-form__number(class=class_luxe)= number
      .summary-form__price.js-summary-form__price
    .summary-form__date-dropdown-container.js-summary-form__date-dropdown-container
      +date-dropdown({calendar})
    .summary-form__guests-dropdown-container
      +guests-dropdown(guestsDropdown)
    .summary-form__calculator.js-summary-form__calculator.calculator
      .calculator__row
        .calculator__item
        .calculator__price
      .calculator__grid
        .calculator__item
        .calculator__sign
        .calculator__price
        .calculator__item
        .calculator__sign
        .calculator__price
      .calculator__row
        .calculator__item
        .calculator__price
    .summary-form__button-container
      +button({title: 'забронировать', size: 'l', type: 'submit', arrow: true})