.summary-form{
  background: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  user-select: none;
  font: normal normal 14px/18px $primary-font;
  color: $gray-color;
  max-width: 380px;
  padding: 39px 20px 30px 20px;

  &__head{
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 320px;
    margin: auto;
    margin-bottom: 20px;
  }

  &__number{
    font-size: 24px;
    line-height: 29.62px;
    display: flex;
    align-items: flex-end;

    &::before{
      display: block;
      content: '№';
      font-size: 14px;
      line-height: 17px;
      margin-right: 4px;
      padding-bottom: 3px;
    }

    &_luxe::after{
      content: 'ЛЮКС';
      color: $primary-color;
      display: block;
      font-size: 12px;
      line-height: 15px;
      margin-left: 8px;
      padding-bottom: 3px;
    }
  }

  &__price{
    color: $gray-color-50;
    &::after{
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      content: ' в сутки';
    }
  }

  &__date-dropdown-container{
    max-width: 320px;
    margin: auto;
    margin-bottom: 21px;
  }

  &__guests-dropdown-container{
    max-width: 320px;
    margin: auto;
    margin-bottom: 21px;
  }

  &__calculator{
    padding-left: 1px;
    max-width: 319px;
    margin: auto;
    margin-bottom: 17px;
  }

  &__button-container{
    max-width: 320px;
    margin: auto;
  }

  &__calculator{
    color: $gray-color-75;
  }

  &__calculator-row{
    display: flex;
    justify-content: space-between;
    height: 26px;
    &:last-child{
      margin-top: 30px;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: $gray-color;
    }
  }

  &__calculator-grid{
    margin-top: 8px;
    display: grid;
    row-gap: 14px;
    grid-template-columns: minmax(min-content, 214px) max-content 1fr;
  }

  &__calculator-price{
    text-align: right;
  }

  &__calculator-item{
    display: inline;
    justify-self: start;
  }

  &__calculator-sign{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid $gray-color-25;
    color: $gray-color-25;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
      content: 'i';
    }
  }
}