include ../date-dropdown/date-dropdown
include ../button/button
include ../guests-dropdown/guests-dropdown

mixin summary-form(params)
  -
    params = params ? params : {};
    const {
      price = 9990,
      number = 888,
      luxe = true,
    } = params;

  form.summary-form
    .summary-form__head
      .summary-form__number(class = luxe ? 'summary-form__number_luxe' : '')=number
      .summary-form__price= price + 'Р'      
    .summary-form__date-dropdown-container
      +date-dropdown()
    .summary-form__guests-dropdown-container
      +guests-dropdown()
    .summary-form__
    .summary-form__button-container
      +button({title: 'забронировать', size: 'l', type: 'submit'})