.field {
  font-size: 14px;
  line-height: 18px;
  color: $gray-color;
  max-width: 320px;
  width: 100%;
  position: relative;

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__input {
    height: 44px;
    width: 100%;
    padding: 0;
    text-indent: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $gray-color-25;
    outline-style: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $gray-color-75;

    &::placeholder {
      color: $gray-color-25;
    }

    &:hover,
    &:focus,
    &_focused {
      border-color: $gray-color-50;

      &::placeholder {
        color: $gray-color-75;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      background-image: radial-gradient(circle at center, #bc9cff80 0, transparent 70%);
    }
  }

  &__arrow {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-gradient;
    background-clip: text;
    color: transparent;

    &::after {
      font: 24px 'Material Icons';
      content: 'arrow_forward';
    }

    &:hover {
      background: $primary-gradient-50;
      background-clip: text;
    }
  }
}
