include ../header-item/header-item
include ../button/button
include ../logotype/logotype
include ../hamburger/hamburger

mixin header(params)
  -
    const {
      isLoggedIn = false,
      username = 'No name',
      headerItems = [
        {title: 'О нас'},
        {title: 'Услуги', children: [
          {title: 'Хорошая услуга'},
          {title: 'Плохая услуга'},
          {title: 'Отличная услуга'},
          {title: 'Простая услуга'}
        ]},
        {title: 'Вакансии'},
        {title: 'Новости'},
        {title: 'Соглашения', children: [
          {title: 'Соглашение первое'},
          {title: 'Соглашение второе'},
          {title: 'Соглашение третье'}
        ]}
      ],
      loginButtonLink = '/mock-address/change-me',
      signupButtonLink = '/mock-address/change-me',
      logotypeLink = '/mock-address/change-me',
    } = params;

  .header.js-header
    .header__container.js-header__container
      a.header__logotype(href=logotypeLink)
        +logotype()
      .header__menu-icon.js-header__menu-icon
        +hamburger()
      nav.header__navbar.js-header__navbar
        each item in headerItems
          .header__item
            +header-item(item)
        .header__userblock.js-header__userblock
          if(isLoggedIn)
            .header__stick
            .header__username= username
          else
            .header__button
              +button({
                title: 'войти',
                theme: 'white',
                size: 'ss',
                href: loginButtonLink})
            .header__button
              +button({
                title: 'зарегистрироватьcя',
                size: 'm',
                href: signupButtonLink})