include ./__item/header__item
include ../button/button
include ../logotype/logotype
include ../hamburger/hamburger

mixin header(params)
  -
    const {
      isLoggedIn = false,
      username = 'No name',
      headerItems = [],
      signupButtonLink = '#',
      loginButtonLink = '#',
      logotypeLink = '#',
    } = params;

  .header.js-header
    .header__container.js-header__container
      a.header__logotype(href=logotypeLink)
        +logotype()
      .header__menu-icon.js-header__menu-icon
        +hamburger()
      nav.header__navbar.js-header__navbar
        each item in headerItems
          +header__item(item)
        .header__userblock.js-header__userblock
          if(isLoggedIn)
            .header__stick
            .header__username= username
          else
            .header__button
              +button({
                title: 'войти',
                theme: 'white',
                size: 'ss',
                href: loginButtonLink})
            .header__button
              +button({
                title: 'зарегистрироватьcя',
                size: 'm',
                href: signupButtonLink})