extends ../base-template/base-template

block data
  -
    const path = require('path');
    const fs = require('fs');
    const data = JSON.parse(fs.readFileSync('./src/pages/headers-footers/headers-footers.json'));
    const title = 'Headers & Footers';
    const description = 'headers-footers page of Toxin Pages project';
    const keywords = 'toxin pages, headers-footers';

block content
  .headers-footers
    .headers-footers__logotype-container
      +logotype(data.logotype)
    .headers-footers__data-container
      .headers-footers__header
        +header(data.header1)
      +header(data.header2)
      +footer(data.footer1)
      .headers-footers__footer
        +footer(data.footer2)
