extends ../base-template/base-template

block data
  include ../../components/footer/footer
  include ../../components/header/header
  include ../../components/logotype/logotype
  -
    const title = 'Headers & Footers';
    const description = 'headers-footers page of Toxin Pages project';
    const keywords = 'toxin pages, headers-footers';
    const header1 = {
      isLoggedIn: false,
      username: 'Юлий Цезарь',
      headerItems: [
        {title: 'О нас', selected: true},
        {title: 'Услуги', children: [{title: 'Услуга'}]},
        {title: 'Вакансии'},
        {title: 'Новости'},
        {title: 'Соглашения', children: [{title: 'Соглашение'}]}
      ]
    }
    const header2 = {...header1, ...{isLoggedIn: true}};

block content
  .headers-footers
    .headers-footers__logotype-container
      +logotype({partial: true})
    .headers-footers__data-container
      .headers-footers__header
        +header(header1)
      +header(header2)
      +footer()
      .headers-footers__footer
        +footer({partial: true})
