include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/headers-footers/headers-footers.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="headersfooters page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, headersfooters")
    title Headers & Footers
  body.headers-footers
    .headers-footers__logotype-container
      +logotype(data.logotype)
    .headers-footers__data-container
      .headers-footers__header
        +header(data.header1)
      +header(data.header2)
      +footer(data.footer1)
      .headers-footers__footer
        +footer(data.footer2)
