@import './__item/navbar__item.scss';
@import '../button/button.scss';

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.navbar__stick{
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);   
}