include ./__item/navbar__item
include ../button/button

mixin navbar(isLoggedIn)
  div.navbar
    +navbar__item('О Нас', false)
    +navbar__item('Услуги', true)
    +navbar__item('Вакансии', false)
    +navbar__item('Новости', false)
    +navbar__item('Соглашения', true)
    if(isLoggedIn)
      +button('ВОЙТИ')
      +button('ЗАРЕГИСТРИРОВАТЬСЯ', true)
