mixin inpt(params)
  -var inpt_size = (params.size ? `inpt_size-${params.size}` : "");
  -var inpt_type = (params.type ? `inpt_type-${params.type}` : "");  
  div.inpt(class = inpt_size class = inpt_type)
    input.inpt__textarea    
    
    if(params.type === "submit")
        div.inpt__img-container
            img(src="images/arrow-right.svg")
        
