include ../dropdown/dropdown

mixin guests-dropdown(params)
  .guests-dropdown
    +dropdown({title: params.title, 
               buttons: true, 
               items: [{title: "взрослые", default_value: params.adults}, 
                       {title: "дети", default_value: params.children}, 
                       {title: "младенцы", default_value: params.babies}], 
               text: "Сколько гостей",
               default_active: params.default_active})