include ../dropdown/dropdown

mixin guests-dropdown(params = {})
  -
    const {
      title = 'гости',
      alwaysOpen = false,
      adults = 0,
      children = 0,
      babies = 0,
      size = 'l',
    } = params;

    const newParams = {
      title: title,
      text: 'Сколько гостей',
      buttons: true,
      alwaysOpen: alwaysOpen,
      size: size,
      items: [
        {title: 'взрослые', value: adults}, 
        {title: 'дети', value: children}, 
        {title: 'младенцы', value: babies}
      ]
    }

  .guests-dropdown.js-guests-dropdown
    +dropdown(newParams)