mixin checkbox(params = {})
  -
    const {
      title,
      description,
      checked = false,
    } = params;
    const class_description = description ? 'checkbox_with-description' : '';

  .checkbox(class=class_description)
    label.checkbox__label= title
      input.checkbox__input(type="checkbox", checked=checked)
      if(description)
        p.checkbox__description= description