.checkbox {
  -webkit-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 20px;
  color: $gray-color-50;

  &_with-description {
    .checkbox__label {
      flex-wrap: wrap;
      font-weight: bold;
      color: $gray-color-75;
    }
  }

  &__label {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    vertical-align: bottom;
  }

  &__input {
    -webkit-appearance: none;
            appearance: none;
    margin: 0 10px 0 0;
    font-size: 0;
    cursor: inherit;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid $gray-color-25;
    }

    &:focus::before {
      box-shadow: 0 0 10px $gray-color-50;
    }

    &:checked:focus::before {
      box-shadow: 0 0 10px $primary-color;
    }

    &:checked::before {
      border-color: $primary-color;
    }

    &:checked::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 7px;
      width: 6px;
      height: 8px;
      box-sizing: border-box;
      border-width: 0 2px 2px 0;
      border-color: $primary-color;
      border-style: solid;
      transform: rotate(45deg);
    }
  }

  &__description {
    flex-basis: 100%;
    padding: 4px 0 0 30px;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    vertical-align: top;
  }
}
