mixin checkbox(params)
  -
    const {
      title,
      description,
      checked = false,
    } = params;
    const isRich = description ? true : false;
    const class_rich = isRich ? 'checkbox_rich' : '';

  .checkbox(class=class_rich)
    label.checkbox__label= title
      input.checkbox__input(type="checkbox", checked=checked)
    if(isRich)
      p.checkbox__description= description