mixin checkbox(params = {})
  -
    const {
      title = 'title',
      description = null,
      checked = false,
    } = params;

  .checkbox(class=description && 'checkbox_with-description')
    label.checkbox__label
      input.checkbox__input(type="checkbox", checked=checked)
      = title
      if(description)
        span.checkbox__description= description