mixin checkbox(params)
  -
    const {
      title,
      description,
      checked = false,
    } = params;
    const isRich = description ? true : false;

  .checkbox
    label.checkbox__label
      input.checkbox__input(type="checkbox", checked=checked)
    .checkbox__container
      if(isRich)
        .checkbox__title.checkbox__title_rich= title
        .checkbox__description= description
      else
        .checkbox__title= title