mixin dropdown__item(params)
  -var title = (params.title ? params.title : "No title");
  -var defaultValue = (params.defaultValue ? params.defaultValue : 0);
  .dropdown__item
    .dropdown__item-title=title
    .dropdown__item-control
      .dropdown__item-button -
      .dropdown__item-counter=defaultValue
      .dropdown__item-button +
  