mixin dropdown__item(params)
  -
    const {
      title = "Title",
      value = 0,
    } = params;

  .dropdown__item.dropdown-item.js-dropdown-item
    .dropdown-item__title=title
    .dropdown-item__control
      .dropdown-item__button.js-dropdown-item__button -
      .dropdown-item__counter.js-dropdown-item__counter=value
      .dropdown-item__button.js-dropdown-item__button +
  