mixin dropdown__item(title)
  div.dropdown__item
    div.dropdown__item-title=title
    div.dropdown__item-control
      div.dropdown__button -
      div.dropdown__counter 0
      div.dropdown__button +
  