mixin dropdown__item(params)
  -var title = (params.title ? params.title : "No title");
  -var default_value = (params.default_value ? params.default_value : 0);
  .dropdown__item
    .dropdown__item-title=title
    .dropdown__item-control
      .dropdown__item-button -
      .dropdown__item-counter=default_value
      .dropdown__item-button +
  