mixin bullet-list(params)
  -
    const {
      title,
      items = [],
    } = params;

  .bullet-list
    if (title)
      .bullet-list__title=title
    ul.bullet-list__list
      each item in items 
        li.bullet-list__item=item