include ../inpt/inpt
include ../logotype/logotype

mixin footer(params)
  -
    params = (params ? params : {})
    const {      
      groups = [{
        title: "title",
        items: [{
          name: "item1", 
          href: "#"
        }],
      }],
      submitLink = "#",
    } = params;

  .footer.js-footer
    .footer__top-container
      .footer__group                  
        +logotype()
        .footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»        
      each group in groups
        .footer__group.js-footer__group
          .footer__group-title.js-footer__group-title= group.title 
          each item in group.items
            a.footer__group-item(href=item.href)= item.name
      .footer__group
        .footer__group-title Подписка
        .footer__text Получайте специальные предложения и новости сервиса
        +inpt({size: 'm', type_submit: true, placeholder: "Email", link: submitLink})
    .footer__bottom-container
      .footer__bottom-item    
        +logotype()
      .footer__bottom-item Copyright © 2018 Toxin отель. Все права защищены.
      .footer__bottom-item
        a.footer__link(href="#")
          i.fab.fa-twitter
        a.footer__link(href="#")
          i.fab.fa-facebook-square
        a.footer__link(href="#")
          i.fab.fa-instagram
