.footer{
  background: $white-color;
  font-family: $primary-font;
  color: $gray-color;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  &__top-container{
    box-shadow: 0px 1px 0px $gray-color-10;
    padding-bottom: 25px;

    & > :first-child, & > :last-child{
      display: none;
    }

    @media screen and (min-width: 600px){
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: flex-start;
      column-gap: 20px;
    }

    @media screen and (min-width: 1130px){
      justify-content: center;
      align-items: flex-start;
      column-gap: 40px;
      margin: auto;
      padding: 79px 25px 100px 25px;

      & > :first-child, & > :last-child{
        display: flex;
      }
    }
  }

  &__group-title{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

    @media screen and (min-width: 600px){
      cursor: default;
      pointer-events: none;
    }

    & + .footer__group-item{
      margin-top: 2px;
    }
  }

  &__group-item{
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    height: 18px;
    color: $gray-color-50;
    &:hover{
      color: $gray-color;
    }
  }

  &__group{
    padding-top: 25px;

    &:first-child{
      padding-top: 21px;
      row-gap: 17px;
    }

    &:last-child{
      row-gap: 18px;
    }

    max-height: 16px;
    overflow: hidden;
    user-select: none;
    transition: max-height 0.2s;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;

    @media screen and (min-width: 600px){
      max-height: max-content;
      align-items: flex-start;
      flex-grow: 1;

      &:nth-child(1){
        max-width: 260px;
      }
      &:nth-child(2){
        max-width: 160px;
      }
      &:nth-child(3){
        max-width: 160px;
      }
      &:nth-child(4){
        max-width: 160px;
      }
      &:nth-child(5){
        max-width: 260px;
      }
    }

    & > .inpt{
      min-width: 260px;
    }
  }

  &__bottom-container{
    padding: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;

    @media screen and (min-width: 600px){
      padding-top: 0;
      padding-bottom: 0;
      height: 367px;
    }

    @media screen and (min-width: 1130px){
      height: 70px;
      max-width: 1160px;
      margin: auto;
      flex-flow: row;
      justify-content: space-between;
      & > :first-child{
        display: none;
      }
    }
  }

  &__bottom-item{
    font-size: 14px;
    line-height: 17px;
    color: $gray-color-75;
    text-align: center;
    display: flex;
    gap: 20px;
  }

  &__link{
    text-decoration: none;
  }

  &__icon{
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.1s;
    &:hover{
      transform: scale(1.2);
    }
  }

  &__text{
    line-height: 24px;
    font-size: 14px;
    color: $gray-color-75;
    margin-bottom: 5px;
  }

  &_type-partial{
    .footer__top-container{
        display: none;
    }

    .footer__bottom-container{
      height: 367px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      row-gap: 25px;

      & > :first-child{
          display: block;
      }
    }
  }
}