.footer{
  background: $white-color;
  font: normal normal 12px/15px $primary-font;
  color: $gray-color;

  &__top-container{
    box-shadow: 0px 1px 0px $gray-color-10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 40px;
    margin: auto;
    padding: 79px 25px 100px 25px;

    @media screen and (max-width: 768px){
      display: none;
    }
  }

  &__group{
    padding-top: 25px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    flex-grow: 1;

    &:nth-child(1){
      padding-top: 21px;
      row-gap: 17px;
      max-width: 260px;
    }
    &:nth-child(2){
      max-width: 160px;
    }
    &:nth-child(3){
      max-width: 160px;
    }
    &:nth-child(4){
      max-width: 160px;
    }
    &:nth-child(5){
      max-width: 260px;
      row-gap: 18px;
    }
  }

  &__group-title{
    text-transform: uppercase;
    font-weight: bold;
  }

  &__group-title + &__group-item{
    margin-top: 2px;
  }

  &__group-item{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    min-height: 18px;
    color: $gray-color-50;
    &:hover{
      color: $gray-color;
    }
  }

  &__text{
    line-height: 24px;
    font-size: 14px;
    color: $gray-color-75;
    margin-bottom: 5px;
  }

  &__bottom-container{
    padding: 0 25px 0 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    height: 367px;

    @media screen and (min-width: 768px){
      height: 70px;
      max-width: 1160px;
      margin: auto;
      flex-flow: row;
      justify-content: space-between;
    }
  }

  &__bottom-item{
    font-size: 14px;
    line-height: 17px;
    color: $gray-color-75;
    text-align: center;
    display: flex;
    gap: 20px;
    @media screen and (min-width: 768px){
      &:first-child{
        display: none;
      }
    }
  }

  &__link{
    text-decoration: none;
  }

  &__icon{
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.1s;
    &:hover{
      transform: scale(1.2);
    }
  }

  &_type-partial{
    .footer__top-container{
        display: none;
    }

    .footer__bottom-container{
      height: 367px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      row-gap: 25px;
    }

    .footer__bottom-item:first-child{
      display: block;
    }
  }
}