.textfield{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 44px;
    padding-left: 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;    
}

.textfield__input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
}

.textfield:hover{
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.textfield__input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline-style: none;
}

.textfield__img-container{
    display: flex;        
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 44px;
    height: 44px;
}