.dropdown-item {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: $gray-color;

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 92px;
  }

  &__button {
    position: relative;
    top: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid $gray-color-25;
    box-sizing: border-box;
    border-radius: 22px;
    color: $gray-color-50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: $gray-color-50;
    }

    &:active {
      top: 2px;
    }

    &_disable {
      opacity: 0.38;

      &:hover {
        border-color: $gray-color-25;
        cursor: default;
      }
    }
  }

  &__counter {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
