mixin toggle(params)
  -
    const {
      title,
      checked = false,
    } = params;

  .toggle
    label.toggle__label 
      input(type='checkbox' checked=checked).toggle__input
      .toggle__slider
      .toggle__border
    .toggle__title=title
