.toggle {
  user-select: none;

  &__label {
    display: inline-block;
    height: 20px;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
    font: 14px/18px $primary-font;
    color: $gray-color-75;
  }

  &__input {
    appearance: none;
    cursor: inherit;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid $gray-color-25;
    }

    &:checked::before {
      border-color: $primary-color;
    }

    &:focus::before {
      box-shadow: 0 0 10px $gray-color-50;
    }

    &:checked:focus::before {
      box-shadow: 0 0 10px $primary-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: $gray-color-25;
      transition: 0.21s;
    }

    &:checked::after {
      transform: translateX(20px);
      background: $primary-gradient;
    }
  }
}
