mixin toggle(params = {})
  -
    const {
      title = 'toggle',
      checked = false,
      name = 'name,'
    } = params;

  .toggle
    label.toggle__label= title
      input.toggle__input(type="checkbox", checked=checked, name=name)