@import '../../components/components.scss';

html{
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
}

body{
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.signup{
  &__header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; 
  }

  &__main{
    padding-top: 70px;
    background-image: url('../../resources/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  &__search-form-container{
    padding: 70px 0;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}