@import '../../assets/style.scss';
@import '../../assets/fonts.scss';
@import '../../components/components.scss';

html, body{
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 29999;
}

main{
    padding-top: 70px;
    height: 830px;
    
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center bottom;

    .container__search-form{        
        padding-top: 70px;
        padding-left: 7px;
        padding-right: 7px;
        margin: auto;
        display: flex;
        justify-content: center;        
    }
}