include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/signup/signup.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="signup page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, signup")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body.signup
    header.signup__header
      +header(data.header)
    main.signup__main
      .signup__search-form-container
        +signup-form(data.signupForm)
    footer.signup__footer
      +footer(data.footer)