extends ../base-template/base-template

block data
  include ../../components/footer/footer
  include ../../components/header/header
  include ../../components/signup-form/signup-form
  -
    const path = require('path');
    const fs = require('fs');
    const data = JSON.parse(fs.readFileSync('./src/pages/signup/signup.json'));
    const title = 'TOXIN';
    const description = 'signup page of Toxin Pages project';
    const keywords = 'toxin pages, signup';

block content
  .signup
    header.signup__header
      +header(data.header)
    main.signup__main
      .signup__search-form-container
        +signup-form(data.signupForm)
    footer.signup__footer
      +footer(data.footer)