extends ../base-template/base-template

block data
  include ../../components/footer/footer
  include ../../components/header/header
  include ../../components/signup-form/signup-form
  -
    const title = 'TOXIN';
    const description = 'signup page of Toxin Pages project';
    const keywords = 'toxin pages, signup';
    const loginButtonLink = 'login.html';
    const signupButtonLink = 'signup.html';
    const logotypeLink= 'main.html';

block content
  .signup
    header.signup__header
      +header({
        loginButtonLink: loginButtonLink,
        signupButtonLink: signupButtonLink,
        logotypeLink: logotypeLink
      })
    main.signup__main
      .signup__search-form-container
        +signup-form({loginButtonLink: loginButtonLink})
    footer.signup__footer
      +footer({logotypeLink: logotypeLink})