.room-card {
  min-width: 270px;
  max-height: 257px;
  background: $white-color;
  color: $white-color;
  box-shadow: 0 10px 20px $gray-color-5;
  border-radius: 4px;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 10px 20px $gray-color-25;
  }

  overflow: hidden;

  &__images {
    -webkit-user-select: none;
            user-select: none;
    height: 151px;
    position: relative;
  }

  &__image {
    z-index: 1;
    position: absolute;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 0%;

    &_visible {
      width: 100%;
    }
  }

  &:hover .room-card__button {
    opacity: 1;
  }

  &__button {
    cursor: pointer;
    width: 42px;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(90deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 99.99%, rgb(255 255 255 / 0%) 100%);
    transition: opacity 0.3s linear;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      right: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &::after {
      transform: rotate(90deg);
      font: 24px 'Material Icons';
      content: 'expand_more';
    }

    &_visible {
      opacity: 1;
    }
  }

  &__dots {
    position: absolute;
    z-index: 3;
    display: flex;
    gap: 3.75px;
    right: 15px;
    bottom: 15px;
  }

  &__dot {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $white-color;
    box-shadow: 0 5px 5px rgb(31 32 65 / 30%);

    &_selected {
      background: $white-color;
    }
  }

  &__container {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: $gray-color;
    padding: 20px 17px 20px 20px;
  }

  &__top {
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &__stick {
    height: 1px;
    background: $gray-color-10;
    padding-right: 3px;
    margin-bottom: 11px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__number {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    &::before {
      display: inline-block;
      content: '№';
      font-size: 14px;
      line-height: 17px;
      margin-right: 4px;
    }
  }

  &__number-luxe {
    color: $primary-color;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__price {
    color: $gray-color-50;

    &::after {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      content: ' в сутки';
    }
  }

  &__count {
    color: $gray-color-50;
    padding-right: 3px;
    padding-bottom: 3px;

    &::after {
      font-weight: normal;
      content: ' Отзывов';
    }
  }
}
