.room-card {
    min-width: 270px;
    background: $white-color;
    color: $white-color;
    box-shadow: 0px 10px 20px $gray-color-5;
    border-radius: 4px;
    transition: box-shadow .2s ease;
    &:hover {
      box-shadow: 0 10px 30px $gray-color-25;
    }

    &__images{
        user-select: none;
        height: 160px;
        position: relative;        

        .room-card__image{
            z-index: 1;
            position: absolute;
            display: block;
            object-fit: cover;                        
            height: 100%;
            width: 0%;               
        }        

        .room-card__image_left{
            width: 100%;
        }
    }

    &__container{
        height: 100px;        
    }

    &__arrow {
        &:nth-last-child(2){
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;        
        }

        &:nth-last-child(1){
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(270deg);
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;        
        }
    }
}