@use 'sass:color';

$gray-color: #1f2041;
$gray-color-75: color.adjust($gray-color, $alpha: -0.25);
$gray-color-50: color.adjust($gray-color, $alpha: -0.5);
$gray-color-25: color.adjust($gray-color, $alpha: -0.75);
$gray-color-10: color.adjust($gray-color, $alpha: -0.9);
$gray-color-5: color.adjust($gray-color, $alpha: -0.95);
$white-color: white;
$primary-color: #bc9cff;
$primary-color-50: #bc9cff7f;
$secondary-color: #6fcf97;
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$primary-gradient-90: linear-gradient(180deg, #bc9cffe7 0%, #8ba4f9e7 100%);
$primary-gradient-75: linear-gradient(180deg, #bc9cffc0 0%, #8ba4f9c0 100%);
$primary-gradient-50: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
$primary-gradient-40: linear-gradient(180deg, #bc9cff60 0%, #8ba4f960 100%);
$primary-gradient-25: linear-gradient(180deg, #bc9cff40 0%, #8ba4f940 100%);
$primary-gradient-10: linear-gradient(180deg, #bc9cff1a 0%, #8ba4f91a 100%);
$secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$secondary-gradient-75: linear-gradient(180deg, #6fcf97c0 0%, #66d2eac0 100%);
$primary-font: 'Montserrat', arial, serif;
