include ../../components/search-form/search-form
include ../../components/calendar/calendar
include ../../components/signup-form/signup-form
include ../../components/login-form/login-form
include ../../components/summary-form/summary-form

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Cards    
  body
    .container

      .left-column
        +search-form()
        +signup-form()

      .middle-column
        +summary-form()
        +login-form()

      .right-column 
        +calendar()