include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/cards/cards.json'));

doctype html
html
  head
    meta(charset='UTF-8')
    title Cards
  body
    .logotype-container
      +logotype(data.logotype)
    .container
      .left-column
        +search-form(data.searchForm)
        +signup-form(data.signupForm)
      .middle-column
        +summary-form(data.summaryForm)
        +login-form()
      .right-column
        +calendar()
        .room-card-container
          +room-card(data.roomCard1)
        .room-card-container
          +room-card(data.roomCard2)