extends ../base-template/base-template

block data
  -
    const path = require('path');
    const fs = require('fs');
    const data = JSON.parse(fs.readFileSync('./src/pages/cards/cards.json'));
    const title = 'Cards';
    const description = 'cards page of Toxin Pages project';
    const keywords = 'toxin pages, cards';

block content
  .cards
    .cards__logotype-container
      +logotype(data.logotype)
    .cards__data-container
      .cards__column
        +search-form(data.searchForm)
        +signup-form(data.signupForm)
      .cards__column
        +summary-form(data.summaryForm)
        +login-form()
      .cards__column
        +calendar()
        .cards__room-card-container
          +room-card(data.roomCard1)
        .cards__room-card-container
          +room-card(data.roomCard2)