@import '../../components/components.scss';

html{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

body{
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    background-color: #F4F4F6;
}

.logotype-container{
    padding: 30px 0 0 30px;    
}

.container{ 
    padding-top: 72px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.left-column{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    gap: 40px;
}

.middle-column{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    gap: 40px;
}

.right-column{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    gap: 40px;

    min-width: 320px;
}
