include ../../components/components

doctype html
html 
  head 
    meta(charset="UTF-8")
    title Cards    
  body
    .container

      .left-column
        +search-form()
        +signup-form()

      .middle-column
        +summary-form()
        +login-form()

      .right-column 
        +calendar()