@import '../../assets/style.scss';
@import '../../assets/fonts.scss';
@import '../../components/components.scss';

html, body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container{    
    margin: 0 auto;
    width: 1440px;
    min-height: 1853px;
    background-color: #F4F4F6;
    padding: 30px;

    display: flex;
    gap: 50px;
    justify-content: center;
}

.left-column{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    gap: 50px;
}

.middle-column{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    gap: 50px;
}
