@import '../global.scss';
@import '../../components/components.scss';

.cards{
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background-color: #F4F4F6;

  &__logotype-container{
    padding: 30px 0 0 30px;
  }

  &__data-container{
    padding-top: 72px;
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  &__column{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    gap: 40px;
    min-width: 380px;
    &:last-child{
      min-width: 320px;
    }
  }

  &__room-card-container{
    max-width: 270px;
  }
}