extends ../base-template/base-template

block data
  include ../../components/calendar/calendar
  include ../../components/login-form/login-form
  include ../../components/logotype/logotype
  include ../../components/room-card/room-card
  include ../../components/search-form/search-form
  include ../../components/signup-form/signup-form
  include ../../components/summary-form/summary-form
  -
    const title = 'Cards';
    const description = 'cards page of Toxin Pages project';
    const keywords = 'toxin pages, cards';

block content
  .cards
    a.cards__logotype-container(href="navigation.html")
      +logotype({partial: true})
    .cards__data-container
      .cards__column
        +search-form({calendar: {arrivalDate: '', departureDate: ''}})
        +signup-form({buttonTitle: 'перейти к оплате'})
      .cards__column
        +summary-form({
          guestsDropdown: {adults: 3},
          calendar: {arrivalDate: '2022-08-19', departureDate: '2022-08-23'}
        })
        +login-form()
      .cards__column
        +calendar()
        .cards__room-card-container
          +room-card({
            number: 888, price: 9990, rate: 5, reviewCount: 145, luxe: true,
            visibleButtons: true,
            imageLinks: [
              './images/room-888.jpg', './images/room-350.jpg',
              './images/room-352.jpg', './images/room-450.jpg'
            ]
          })
        .cards__room-card-container
          +room-card({
            number: 840, price: 9900, rate: 4, reviewCount: 65, luxe: false,
            imageLinks: [
              './images/room-840.jpg', './images/room-350.jpg',
              './images/room-352.jpg', './images/room-450.jpg'
            ]
          })