.color-item {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  font-size: 19px;
  line-height: 28px;

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__firstline {
    font-weight: bold;
  }

  &_color {
    &_gray .color-item__box {
      background: $gray-color;
    }

    &_gray-75 .color-item__box {
      background: $gray-color-75;
    }

    &_gray-50 .color-item__box {
      background: $gray-color-50;
    }

    &_gray-25 .color-item__box {
      background: $gray-color-25;
    }

    &_gray-10 .color-item__box {
      background: $gray-color-10;
    }

    &_primary .color-item__box {
      background: $primary-color;
    }

    &_secondary .color-item__box {
      background: $secondary-color;
    }
  }
}
