.color-item {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  font: 19px/28px $primary-font;

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__firstline {
    font-weight: bold;
  }
}
